components/workflow-mgt/org.wso2.carbon.identity.workflow.mgt/src/main/resources/MetaData.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://metadata.bean.mgt.workflow.identity.carbon.wso2.org" xmlns="http://metadata.bean.mgt.workflow.identity.carbon.wso2.org">
    <xs:element name="MetaData">
        <xs:complexType>
            <xs:choice>
                <xs:element name="Template">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TemplateId" type="xs:string"></xs:element>
                            <xs:element name="TemplateName" type="xs:string"></xs:element>
                            <xs:element name="TemplateDescription" type="xs:string" minOccurs="0"></xs:element>
                            <xs:element name="ParametersMetaData" type="ParametersMetaData" minOccurs="0"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="WorkflowImpl">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="WorkflowImplId" type="xs:string"></xs:element>
                            <xs:element name="WorkflowImplName" type="xs:string"></xs:element>
                            <xs:element name="WorkflowImplDescription" type="xs:string" minOccurs="0"></xs:element>
                            <xs:element name="TemplateId" type="xs:string"></xs:element>
                            <xs:element name="ParametersMetaData" type="ParametersMetaData" minOccurs="0"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ParametersMetaData">
        <xs:sequence>
            <xs:element name="ParameterMetaData" maxOccurs="unbounded" type="ParameterMetaData"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ParameterMetaData">
        <xs:sequence>
            <xs:element name="DisplayName" type="xs:string"></xs:element>
            <xs:element name="DefaultValue" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="RegExForValidate" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="InputData" minOccurs="0" type="InputData"></xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="DataType" use="optional" type="xs:string"></xs:attribute>
        <xs:attribute name="InputType" use="optional" type="xs:string"></xs:attribute>

        <xs:attribute name="CustomInputType" use="optional" type="xs:string"></xs:attribute>
        <xs:attribute name="isRequired" default="false" type="xs:boolean"></xs:attribute>
        <xs:attribute name="Validate" type="xs:boolean" default="true"></xs:attribute>
        <xs:attribute name="isInputDataRequired" type="xs:boolean" default="false"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="InputData">
        <xs:choice>
            <xs:element name="MapType" minOccurs="0" type="MapType"></xs:element>
        </xs:choice>
    </xs:complexType>


    <xs:complexType name="MapType">
        <xs:sequence>
            <xs:element name="Item" maxOccurs="unbounded" type="Item"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Item">
        <xs:sequence>
            <xs:element name="Key" type="xs:string"></xs:element>
            <xs:element name="Value" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
