service-stubs/identity/org.wso2.carbon.user.mgt.stub/src/main/resources/UserStoreCountService.wsdl

<wsdl:definitions xmlns:ax2415="http://exception.count.store.user.identity.carbon.wso2.org/xsd" xmlns:ax2417="http://dto.count.store.user.identity.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://count.store.user.identity.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://count.store.user.identity.carbon.wso2.org">
    <wsdl:documentation>UserStoreCountService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.count.store.user.identity.carbon.wso2.org/xsd">
            <xs:complexType name="PairDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2416="http://exception.count.store.user.identity.carbon.wso2.org/xsd" xmlns:ax2418="http://dto.count.store.user.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://exception.count.store.user.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.count.store.user.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="UserStoreCountServiceUserStoreCounterException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserStoreCounterException" nillable="true" type="ax2415:UserStoreCounterException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countByClaimInDomain">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="claimURI" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="valueFilter" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countByClaimInDomainResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countUsersInDomain">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countUsersInDomainResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countRolesInDomain">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countRolesInDomainResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countByClaimsInDomain">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claimSetToFilter" nillable="true" type="ax2417:PairDTO"></xs:element>
                        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countByClaimsInDomainResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCountEnabledUserStores">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCountEnabledUserStoresResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countClaims">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claimSetToFilter" nillable="true" type="ax2417:PairDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countClaimsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2417:PairDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countUsers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countUsersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2417:PairDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countRoles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countRolesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2417:PairDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countClaim">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="claimURI" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="valueFilter" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="countClaimResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2417:PairDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.count.store.user.identity.carbon.wso2.org/xsd">
            <xs:complexType name="UserStoreCounterException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="countUsersInDomainRequest">
        <wsdl:part element="ns1:countUsersInDomain" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countUsersInDomainResponse">
        <wsdl:part element="ns1:countUsersInDomainResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UserStoreCountServiceUserStoreCounterException">
        <wsdl:part element="ns1:UserStoreCountServiceUserStoreCounterException" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countRolesRequest">
        <wsdl:part element="ns1:countRoles" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countRolesResponse">
        <wsdl:part element="ns1:countRolesResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countByClaimInDomainRequest">
        <wsdl:part element="ns1:countByClaimInDomain" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countByClaimInDomainResponse">
        <wsdl:part element="ns1:countByClaimInDomainResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountEnabledUserStoresRequest">
        <wsdl:part element="ns1:getCountEnabledUserStores" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountEnabledUserStoresResponse">
        <wsdl:part element="ns1:getCountEnabledUserStoresResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countClaimRequest">
        <wsdl:part element="ns1:countClaim" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countClaimResponse">
        <wsdl:part element="ns1:countClaimResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countUsersRequest">
        <wsdl:part element="ns1:countUsers" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countUsersResponse">
        <wsdl:part element="ns1:countUsersResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countRolesInDomainRequest">
        <wsdl:part element="ns1:countRolesInDomain" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countRolesInDomainResponse">
        <wsdl:part element="ns1:countRolesInDomainResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countByClaimsInDomainRequest">
        <wsdl:part element="ns1:countByClaimsInDomain" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countByClaimsInDomainResponse">
        <wsdl:part element="ns1:countByClaimsInDomainResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countClaimsRequest">
        <wsdl:part element="ns1:countClaims" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="countClaimsResponse">
        <wsdl:part element="ns1:countClaimsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UserStoreCountServicePortType">
        <wsdl:operation name="countUsersInDomain">
            <wsdl:input wsaw:Action="urn:countUsersInDomain" message="tns:countUsersInDomainRequest"></wsdl:input>
            <wsdl:output wsaw:Action="urn:countUsersInDomainResponse" message="tns:countUsersInDomainResponse"></wsdl:output>
            <wsdl:fault wsaw:Action="urn:countUsersInDomainUserStoreCountServiceUserStoreCounterException" message="tns:UserStoreCountServiceUserStoreCounterException" name="UserStoreCountServiceUserStoreCounterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countRoles">
            <wsdl:input wsaw:Action="urn:countRoles" message="tns:countRolesRequest"></wsdl:input>
            <wsdl:output wsaw:Action="urn:countRolesResponse" message="tns:countRolesResponse"></wsdl:output>
            <wsdl:fault wsaw:Action="urn:countRolesUserStoreCountServiceUserStoreCounterException" message="tns:UserStoreCountServiceUserStoreCounterException" name="UserStoreCountServiceUserStoreCounterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countByClaimInDomain">
            <wsdl:input wsaw:Action="urn:countByClaimInDomain" message="tns:countByClaimInDomainRequest"></wsdl:input>
            <wsdl:output wsaw:Action="urn:countByClaimInDomainResponse" message="tns:countByClaimInDomainResponse"></wsdl:output>
            <wsdl:fault wsaw:Action="urn:countByClaimInDomainUserStoreCountServiceUserStoreCounterException" message="tns:UserStoreCountServiceUserStoreCounterException" name="UserStoreCountServiceUserStoreCounterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCountEnabledUserStores">
            <wsdl:input wsaw:Action="urn:getCountEnabledUserStores" message="tns:getCountEnabledUserStoresRequest"></wsdl:input>
            <wsdl:output wsaw:Action="urn:getCountEnabledUserStoresResponse" message="tns:getCountEnabledUserStoresResponse"></wsdl:output>
            <wsdl:fault wsaw:Action="urn:getCountEnabledUserStoresUserStoreCountServiceUserStoreCounterException" message="tns:UserStoreCountServiceUserStoreCounterException" name="UserStoreCountServiceUserStoreCounterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countClaim">
            <wsdl:input wsaw:Action="urn:countClaim" message="tns:countClaimRequest"></wsdl:input>
            <wsdl:output wsaw:Action="urn:countClaimResponse" message="tns:countClaimResponse"></wsdl:output>
            <wsdl:fault wsaw:Action="urn:countClaimUserStoreCountServiceUserStoreCounterException" message="tns:UserStoreCountServiceUserStoreCounterException" name="UserStoreCountServiceUserStoreCounterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countUsers">
            <wsdl:input wsaw:Action="urn:countUsers" message="tns:countUsersRequest"></wsdl:input>
            <wsdl:output wsaw:Action="urn:countUsersResponse" message="tns:countUsersResponse"></wsdl:output>
            <wsdl:fault wsaw:Action="urn:countUsersUserStoreCountServiceUserStoreCounterException" message="tns:UserStoreCountServiceUserStoreCounterException" name="UserStoreCountServiceUserStoreCounterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countRolesInDomain">
            <wsdl:input wsaw:Action="urn:countRolesInDomain" message="tns:countRolesInDomainRequest"></wsdl:input>
            <wsdl:output wsaw:Action="urn:countRolesInDomainResponse" message="tns:countRolesInDomainResponse"></wsdl:output>
            <wsdl:fault wsaw:Action="urn:countRolesInDomainUserStoreCountServiceUserStoreCounterException" message="tns:UserStoreCountServiceUserStoreCounterException" name="UserStoreCountServiceUserStoreCounterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countByClaimsInDomain">
            <wsdl:input wsaw:Action="urn:countByClaimsInDomain" message="tns:countByClaimsInDomainRequest"></wsdl:input>
            <wsdl:output wsaw:Action="urn:countByClaimsInDomainResponse" message="tns:countByClaimsInDomainResponse"></wsdl:output>
            <wsdl:fault wsaw:Action="urn:countByClaimsInDomainUserStoreCountServiceUserStoreCounterException" message="tns:UserStoreCountServiceUserStoreCounterException" name="UserStoreCountServiceUserStoreCounterException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countClaims">
            <wsdl:input wsaw:Action="urn:countClaims" message="tns:countClaimsRequest"></wsdl:input>
            <wsdl:output wsaw:Action="urn:countClaimsResponse" message="tns:countClaimsResponse"></wsdl:output>
            <wsdl:fault wsaw:Action="urn:countClaimsUserStoreCountServiceUserStoreCounterException" message="tns:UserStoreCountServiceUserStoreCounterException" name="UserStoreCountServiceUserStoreCounterException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserStoreCountServiceSoap11Binding" type="tns:UserStoreCountServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
        <wsdl:operation name="countUsersInDomain">
            <soap:operation soapAction="urn:countUsersInDomain" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countRoles">
            <soap:operation soapAction="urn:countRoles" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countByClaimInDomain">
            <soap:operation soapAction="urn:countByClaimInDomain" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCountEnabledUserStores">
            <soap:operation soapAction="urn:getCountEnabledUserStores" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countClaim">
            <soap:operation soapAction="urn:countClaim" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countUsers">
            <soap:operation soapAction="urn:countUsers" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countRolesInDomain">
            <soap:operation soapAction="urn:countRolesInDomain" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countByClaimsInDomain">
            <soap:operation soapAction="urn:countByClaimsInDomain" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countClaims">
            <soap:operation soapAction="urn:countClaims" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserStoreCountServiceSoap12Binding" type="tns:UserStoreCountServicePortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap12:binding>
        <wsdl:operation name="countUsersInDomain">
            <soap12:operation soapAction="urn:countUsersInDomain" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap12:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countRoles">
            <soap12:operation soapAction="urn:countRoles" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap12:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countByClaimInDomain">
            <soap12:operation soapAction="urn:countByClaimInDomain" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap12:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCountEnabledUserStores">
            <soap12:operation soapAction="urn:getCountEnabledUserStores" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap12:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countClaim">
            <soap12:operation soapAction="urn:countClaim" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap12:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countUsers">
            <soap12:operation soapAction="urn:countUsers" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap12:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countRolesInDomain">
            <soap12:operation soapAction="urn:countRolesInDomain" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap12:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countByClaimsInDomain">
            <soap12:operation soapAction="urn:countByClaimsInDomain" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap12:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="countClaims">
            <soap12:operation soapAction="urn:countClaims" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="UserStoreCountServiceUserStoreCounterException">
                <soap12:fault name="UserStoreCountServiceUserStoreCounterException" use="literal"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserStoreCountServiceHttpBinding" type="tns:UserStoreCountServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="countUsersInDomain">
            <http:operation location="countUsersInDomain"></http:operation>
            <wsdl:input>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="countRoles">
            <http:operation location="countRoles"></http:operation>
            <wsdl:input>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="countByClaimInDomain">
            <http:operation location="countByClaimInDomain"></http:operation>
            <wsdl:input>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCountEnabledUserStores">
            <http:operation location="getCountEnabledUserStores"></http:operation>
            <wsdl:input>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="countClaim">
            <http:operation location="countClaim"></http:operation>
            <wsdl:input>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="countUsers">
            <http:operation location="countUsers"></http:operation>
            <wsdl:input>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="countRolesInDomain">
            <http:operation location="countRolesInDomain"></http:operation>
            <wsdl:input>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="countByClaimsInDomain">
            <http:operation location="countByClaimsInDomain"></http:operation>
            <wsdl:input>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="countClaims">
            <http:operation location="countClaims"></http:operation>
            <wsdl:input>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="parameters" type="text/xml"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserStoreCountService">
        <wsdl:port binding="tns:UserStoreCountServiceSoap11Binding" name="UserStoreCountServiceHttpsSoap11Endpoint">
            <soap:address location="https://localhost:9443/services/UserStoreCountService.UserStoreCountServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port binding="tns:UserStoreCountServiceSoap12Binding" name="UserStoreCountServiceHttpsSoap12Endpoint">
            <soap12:address location="https://localhost:9443/services/UserStoreCountService.UserStoreCountServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port binding="tns:UserStoreCountServiceHttpBinding" name="UserStoreCountServiceHttpsEndpoint">
            <http:address location="https://localhost:9443/services/UserStoreCountService.UserStoreCountServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>