service-stubs/identity/org.wso2.carbon.identity.entitlement.stub/src/main/resources/EntitlementPolicyAdminService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://entitlement.identity.carbon.wso2.org" xmlns:ax2272="http://entitlement.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2274="http://dto.entitlement.identity.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://entitlement.identity.carbon.wso2.org">
    <wsdl:documentation>EntitlementPolicyAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2273="http://entitlement.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2275="http://dto.entitlement.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://entitlement.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.entitlement.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="EntitlementPolicyAdminServiceEntitlementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EntitlementException" nillable="true" type="ax2272:EntitlementException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateSubscriber">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="holder" nillable="true" type="ax2274:PublisherDataHolder"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyDTO" nillable="true" type="ax2274:PolicyDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rollBackPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removePolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="dePromote" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removePolicies">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="policyIds" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="dePromote" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishToPDP">
                <xs:complexType>
                    <xs:sequence>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="policyIds" nillable="true" type="xs:string"/>
		<xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
		<xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
		<xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
		<xs:element minOccurs="0" name="order" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishPolicies">
                <xs:complexType>
                    <xs:sequence>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="policyIds" nillable="true" type="xs:string"/>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="subscriberIds" nillable="true" type="xs:string"/>
		<xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
		<xs:element minOccurs="0" name="version" nillable="true" type="xs:string"/>
		<xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
		<xs:element minOccurs="0" name="order" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publish">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="verificationCode" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="orderPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="newOrder" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="importPolicyFromRegistry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyRegistryPath" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubscriberIds">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubscriberIdsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubscriber">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscribeId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubscriberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2274:PublisherDataHolder"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatusData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="about" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatusDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2274:PaginatedStatusHolder"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPublisherModuleData">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPublisherModuleDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2274:PublisherDataHolder"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPolicyVersions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPolicyVersionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPolicyByVersion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPolicyByVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2274:PolicyDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="isPDPPolicy" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2274:PolicyDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLightPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLightPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2274:PolicyDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntitlementDataModules">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntitlementDataModulesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2274:EntitlementFinderDataHolder"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntitlementData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dataModule" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="regexp" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="dataLevel" type="xs:int"></xs:element>
                        <xs:element minOccurs="0" name="limit" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEntitlementDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2274:EntitlementTreeNodeDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPolicyIds">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPolicyIdsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPolicies">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyTypeFilter" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="policySearchString" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"></xs:element>
                        <xs:element minOccurs="0" name="isPDPPolicy" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPoliciesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2274:PaginatedPolicySetDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableDisablePolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="enable" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteSubscriber">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscriberId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dePromotePolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSubscriber">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="holder" nillable="true" type="ax2274:PublisherDataHolder"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="policyDTO" nillable="true" type="ax2274:PolicyDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPolicies">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="policies" nillable="true" type="ax2274:PolicyDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.entitlement.identity.carbon.wso2.org/xsd">
            <xs:complexType name="PublisherDataHolder">
                <xs:sequence>
                    <xs:element minOccurs="0" name="latestStatus" nillable="true" type="ax2274:StatusHolder"></xs:element>
                    <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="propertyDTOs" nillable="true" type="ax2274:PublisherPropertyDTO"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="statusHolders" nillable="true" type="ax2274:StatusHolder"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StatusHolder">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="target" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="targetAction" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="timeInstance" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PublisherPropertyDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="displayOrder" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="module" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="secret" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PolicyDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeDTOs" nillable="true" type="ax2274:AttributeDTO"></xs:element>
       		    <xs:element minOccurs="0" name="lastModifiedTime" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="lastModifiedUser" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="policy" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="policyEditor" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policyEditorData" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policyIdReferences" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="policyOrder" type="xs:int"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policySetIdReferences" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policyStatusHolders" nillable="true" type="ax2274:StatusHolder"></xs:element>
                    <xs:element minOccurs="0" name="policyType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="promote" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AttributeDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeDataType" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="attributeId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="category" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaginatedStatusHolder">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="statusHolders" nillable="true" type="ax2274:StatusHolder"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EntitlementFinderDataHolder">
                <xs:sequence>
                    <xs:element minOccurs="0" name="allApplicationRelated" type="xs:boolean"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="applicationIds" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="fullPathSupported" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="hierarchicalLevels" type="xs:int"></xs:element>
                    <xs:element minOccurs="0" name="hierarchicalTree" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="searchSupported" type="xs:boolean"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="supportedCategory" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EntitlementTreeNodeDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="childNodes" nillable="true" type="ax2274:EntitlementTreeNodeDTO"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaginatedPolicySetDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policySet" nillable="true" type="ax2274:PolicyDTO"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entitlement.identity.carbon.wso2.org/xsd">
            <xs:complexType name="EntitlementException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="importPolicyFromRegistryRequest">
        <wsdl:part name="parameters" element="ns1:importPolicyFromRegistry"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="EntitlementPolicyAdminServiceEntitlementException">
        <wsdl:part name="parameters" element="ns1:EntitlementPolicyAdminServiceEntitlementException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEntitlementDataModulesRequest">
        <wsdl:part name="parameters" element="ns1:getEntitlementDataModules"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEntitlementDataModulesResponse">
        <wsdl:part name="parameters" element="ns1:getEntitlementDataModulesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateSubscriberRequest">
        <wsdl:part name="parameters" element="ns1:updateSubscriber"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updatePolicyRequest">
        <wsdl:part name="parameters" element="ns1:updatePolicy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSubscriberIdsRequest">
        <wsdl:part name="parameters" element="ns1:getSubscriberIds"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSubscriberIdsResponse">
        <wsdl:part name="parameters" element="ns1:getSubscriberIdsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="enableDisablePolicyRequest">
        <wsdl:part name="parameters" element="ns1:enableDisablePolicy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addPolicyRequest">
        <wsdl:part name="parameters" element="ns1:addPolicy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="dePromotePolicyRequest">
        <wsdl:part name="parameters" element="ns1:dePromotePolicy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllPolicyIdsRequest">
        <wsdl:part name="parameters" element="ns1:getAllPolicyIds"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllPolicyIdsResponse">
        <wsdl:part name="parameters" element="ns1:getAllPolicyIdsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSubscriberRequest">
        <wsdl:part name="parameters" element="ns1:getSubscriber"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSubscriberResponse">
        <wsdl:part name="parameters" element="ns1:getSubscriberResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPolicyByVersionRequest">
        <wsdl:part name="parameters" element="ns1:getPolicyByVersion"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPolicyByVersionResponse">
        <wsdl:part name="parameters" element="ns1:getPolicyByVersionResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addPoliciesRequest">
        <wsdl:part name="parameters" element="ns1:addPolicies"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="orderPolicyRequest">
        <wsdl:part name="parameters" element="ns1:orderPolicy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPolicyVersionsRequest">
        <wsdl:part name="parameters" element="ns1:getPolicyVersions"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPolicyVersionsResponse">
        <wsdl:part name="parameters" element="ns1:getPolicyVersionsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPublisherModuleDataRequest">
        <wsdl:part name="parameters" element="ns1:getPublisherModuleData"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPublisherModuleDataResponse">
        <wsdl:part name="parameters" element="ns1:getPublisherModuleDataResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteSubscriberRequest">
        <wsdl:part name="parameters" element="ns1:deleteSubscriber"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllPoliciesRequest">
        <wsdl:part name="parameters" element="ns1:getAllPolicies"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllPoliciesResponse">
        <wsdl:part name="parameters" element="ns1:getAllPoliciesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStatusDataRequest">
        <wsdl:part name="parameters" element="ns1:getStatusData"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStatusDataResponse">
        <wsdl:part name="parameters" element="ns1:getStatusDataResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="removePolicyRequest">
        <wsdl:part name="parameters" element="ns1:removePolicy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="removePoliciesRequest">
        <wsdl:part name="parameters" element="ns1:removePolicies"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="publishToPDPRequest">
        <wsdl:part name="parameters" element="ns1:publishToPDP"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="publishRequest">
        <wsdl:part name="parameters" element="ns1:publish"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLightPolicyRequest">
        <wsdl:part name="parameters" element="ns1:getLightPolicy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLightPolicyResponse">
        <wsdl:part name="parameters" element="ns1:getLightPolicyResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="rollBackPolicyRequest">
        <wsdl:part name="parameters" element="ns1:rollBackPolicy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEntitlementDataRequest">
        <wsdl:part name="parameters" element="ns1:getEntitlementData"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEntitlementDataResponse">
        <wsdl:part name="parameters" element="ns1:getEntitlementDataResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="publishPoliciesRequest">
        <wsdl:part name="parameters" element="ns1:publishPolicies"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPolicyRequest">
        <wsdl:part name="parameters" element="ns1:getPolicy"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPolicyResponse">
        <wsdl:part name="parameters" element="ns1:getPolicyResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addSubscriberRequest">
        <wsdl:part name="parameters" element="ns1:addSubscriber"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EntitlementPolicyAdminServicePortType">
        <wsdl:operation name="importPolicyFromRegistry">
            <wsdl:input message="tns:importPolicyFromRegistryRequest" wsaw:Action="urn:importPolicyFromRegistry"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:importPolicyFromRegistryEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntitlementDataModules">
            <wsdl:input message="tns:getEntitlementDataModulesRequest" wsaw:Action="urn:getEntitlementDataModules"></wsdl:input>
            <wsdl:output message="tns:getEntitlementDataModulesResponse" wsaw:Action="urn:getEntitlementDataModulesResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriber">
            <wsdl:input message="tns:updateSubscriberRequest" wsaw:Action="urn:updateSubscriber"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:updateSubscriberEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updatePolicy">
            <wsdl:input message="tns:updatePolicyRequest" wsaw:Action="urn:updatePolicy"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:updatePolicyEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubscriberIds">
            <wsdl:input message="tns:getSubscriberIdsRequest" wsaw:Action="urn:getSubscriberIds"></wsdl:input>
            <wsdl:output message="tns:getSubscriberIdsResponse" wsaw:Action="urn:getSubscriberIdsResponse"></wsdl:output>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:getSubscriberIdsEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableDisablePolicy">
            <wsdl:input message="tns:enableDisablePolicyRequest" wsaw:Action="urn:enableDisablePolicy"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:enableDisablePolicyEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPolicy">
            <wsdl:input message="tns:addPolicyRequest" wsaw:Action="urn:addPolicy"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:addPolicyEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="dePromotePolicy">
            <wsdl:input message="tns:dePromotePolicyRequest" wsaw:Action="urn:dePromotePolicy"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:dePromotePolicyEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPolicyIds">
            <wsdl:input message="tns:getAllPolicyIdsRequest" wsaw:Action="urn:getAllPolicyIds"></wsdl:input>
            <wsdl:output message="tns:getAllPolicyIdsResponse" wsaw:Action="urn:getAllPolicyIdsResponse"></wsdl:output>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:getAllPolicyIdsEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubscriber">
            <wsdl:input message="tns:getSubscriberRequest" wsaw:Action="urn:getSubscriber"></wsdl:input>
            <wsdl:output message="tns:getSubscriberResponse" wsaw:Action="urn:getSubscriberResponse"></wsdl:output>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:getSubscriberEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPolicyByVersion">
            <wsdl:input message="tns:getPolicyByVersionRequest" wsaw:Action="urn:getPolicyByVersion"></wsdl:input>
            <wsdl:output message="tns:getPolicyByVersionResponse" wsaw:Action="urn:getPolicyByVersionResponse"></wsdl:output>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:getPolicyByVersionEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPolicies">
            <wsdl:input message="tns:addPoliciesRequest" wsaw:Action="urn:addPolicies"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:addPoliciesEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="orderPolicy">
            <wsdl:input message="tns:orderPolicyRequest" wsaw:Action="urn:orderPolicy"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:orderPolicyEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPolicyVersions">
            <wsdl:input message="tns:getPolicyVersionsRequest" wsaw:Action="urn:getPolicyVersions"></wsdl:input>
            <wsdl:output message="tns:getPolicyVersionsResponse" wsaw:Action="urn:getPolicyVersionsResponse"></wsdl:output>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:getPolicyVersionsEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPublisherModuleData">
            <wsdl:input message="tns:getPublisherModuleDataRequest" wsaw:Action="urn:getPublisherModuleData"></wsdl:input>
            <wsdl:output message="tns:getPublisherModuleDataResponse" wsaw:Action="urn:getPublisherModuleDataResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteSubscriber">
            <wsdl:input message="tns:deleteSubscriberRequest" wsaw:Action="urn:deleteSubscriber"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:deleteSubscriberEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPolicies">
            <wsdl:input message="tns:getAllPoliciesRequest" wsaw:Action="urn:getAllPolicies"></wsdl:input>
            <wsdl:output message="tns:getAllPoliciesResponse" wsaw:Action="urn:getAllPoliciesResponse"></wsdl:output>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:getAllPoliciesEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStatusData">
            <wsdl:input message="tns:getStatusDataRequest" wsaw:Action="urn:getStatusData"></wsdl:input>
            <wsdl:output message="tns:getStatusDataResponse" wsaw:Action="urn:getStatusDataResponse"></wsdl:output>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:getStatusDataEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removePolicy">
            <wsdl:input message="tns:removePolicyRequest" wsaw:Action="urn:removePolicy"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:removePolicyEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removePolicies">
            <wsdl:input message="tns:removePoliciesRequest" wsaw:Action="urn:removePolicies"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:removePoliciesEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishToPDP">
            <wsdl:input message="tns:publishToPDPRequest" wsaw:Action="urn:publishToPDP"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:publishToPDPEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publish">
            <wsdl:input message="tns:publishRequest" wsaw:Action="urn:publish"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:publishEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLightPolicy">
            <wsdl:input message="tns:getLightPolicyRequest" wsaw:Action="urn:getLightPolicy"></wsdl:input>
            <wsdl:output message="tns:getLightPolicyResponse" wsaw:Action="urn:getLightPolicyResponse"></wsdl:output>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:getLightPolicyEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rollBackPolicy">
            <wsdl:input message="tns:rollBackPolicyRequest" wsaw:Action="urn:rollBackPolicy"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:rollBackPolicyEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntitlementData">
            <wsdl:input message="tns:getEntitlementDataRequest" wsaw:Action="urn:getEntitlementData"></wsdl:input>
            <wsdl:output message="tns:getEntitlementDataResponse" wsaw:Action="urn:getEntitlementDataResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publishPolicies">
            <wsdl:input message="tns:publishPoliciesRequest" wsaw:Action="urn:publishPolicies"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:publishPoliciesEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPolicy">
            <wsdl:input message="tns:getPolicyRequest" wsaw:Action="urn:getPolicy"></wsdl:input>
            <wsdl:output message="tns:getPolicyResponse" wsaw:Action="urn:getPolicyResponse"></wsdl:output>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:getPolicyEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSubscriber">
            <wsdl:input message="tns:addSubscriberRequest" wsaw:Action="urn:addSubscriber"></wsdl:input>
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceEntitlementException" name="EntitlementPolicyAdminServiceEntitlementException" wsaw:Action="urn:addSubscriberEntitlementPolicyAdminServiceEntitlementException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EntitlementPolicyAdminServiceSoap11Binding" type="tns:EntitlementPolicyAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="importPolicyFromRegistry">
            <soap:operation soapAction="urn:importPolicyFromRegistry" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriber">
            <soap:operation soapAction="urn:updateSubscriber" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntitlementDataModules">
            <soap:operation soapAction="urn:getEntitlementDataModules" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updatePolicy">
            <soap:operation soapAction="urn:updatePolicy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubscriberIds">
            <soap:operation soapAction="urn:getSubscriberIds" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableDisablePolicy">
            <soap:operation soapAction="urn:enableDisablePolicy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPolicy">
            <soap:operation soapAction="urn:addPolicy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPolicyIds">
            <soap:operation soapAction="urn:getAllPolicyIds" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="dePromotePolicy">
            <soap:operation soapAction="urn:dePromotePolicy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubscriber">
            <soap:operation soapAction="urn:getSubscriber" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPolicyByVersion">
            <soap:operation soapAction="urn:getPolicyByVersion" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPolicies">
            <soap:operation soapAction="urn:addPolicies" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="orderPolicy">
            <soap:operation soapAction="urn:orderPolicy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPublisherModuleData">
            <soap:operation soapAction="urn:getPublisherModuleData" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPolicyVersions">
            <soap:operation soapAction="urn:getPolicyVersions" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPolicies">
            <soap:operation soapAction="urn:getAllPolicies" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteSubscriber">
            <soap:operation soapAction="urn:deleteSubscriber" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removePolicy">
            <soap:operation soapAction="urn:removePolicy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removePolicies">
            <soap:operation soapAction="urn:removePolicies" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStatusData">
            <soap:operation soapAction="urn:getStatusData" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishToPDP">
            <soap:operation soapAction="urn:publishToPDP" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publish">
            <soap:operation soapAction="urn:publish" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLightPolicy">
            <soap:operation soapAction="urn:getLightPolicy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rollBackPolicy">
            <soap:operation soapAction="urn:rollBackPolicy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishPolicies">
            <soap:operation soapAction="urn:publishPolicies" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntitlementData">
            <soap:operation soapAction="urn:getEntitlementData" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPolicy">
            <soap:operation soapAction="urn:getPolicy" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSubscriber">
            <soap:operation soapAction="urn:addSubscriber" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EntitlementPolicyAdminServiceSoap12Binding" type="tns:EntitlementPolicyAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="importPolicyFromRegistry">
            <soap12:operation soapAction="urn:importPolicyFromRegistry" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriber">
            <soap12:operation soapAction="urn:updateSubscriber" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntitlementDataModules">
            <soap12:operation soapAction="urn:getEntitlementDataModules" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updatePolicy">
            <soap12:operation soapAction="urn:updatePolicy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubscriberIds">
            <soap12:operation soapAction="urn:getSubscriberIds" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableDisablePolicy">
            <soap12:operation soapAction="urn:enableDisablePolicy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPolicy">
            <soap12:operation soapAction="urn:addPolicy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPolicyIds">
            <soap12:operation soapAction="urn:getAllPolicyIds" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="dePromotePolicy">
            <soap12:operation soapAction="urn:dePromotePolicy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubscriber">
            <soap12:operation soapAction="urn:getSubscriber" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPolicyByVersion">
            <soap12:operation soapAction="urn:getPolicyByVersion" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPolicies">
            <soap12:operation soapAction="urn:addPolicies" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="orderPolicy">
            <soap12:operation soapAction="urn:orderPolicy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPublisherModuleData">
            <soap12:operation soapAction="urn:getPublisherModuleData" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPolicyVersions">
            <soap12:operation soapAction="urn:getPolicyVersions" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPolicies">
            <soap12:operation soapAction="urn:getAllPolicies" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteSubscriber">
            <soap12:operation soapAction="urn:deleteSubscriber" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removePolicy">
            <soap12:operation soapAction="urn:removePolicy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removePolicies">
            <soap12:operation soapAction="urn:removePolicies" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStatusData">
            <soap12:operation soapAction="urn:getStatusData" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishToPDP">
            <soap12:operation soapAction="urn:publishToPDP" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publish">
            <soap12:operation soapAction="urn:publish" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getLightPolicy">
            <soap12:operation soapAction="urn:getLightPolicy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rollBackPolicy">
            <soap12:operation soapAction="urn:rollBackPolicy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishPolicies">
            <soap12:operation soapAction="urn:publishPolicies" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntitlementData">
            <soap12:operation soapAction="urn:getEntitlementData" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPolicy">
            <soap12:operation soapAction="urn:getPolicy" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSubscriber">
            <soap12:operation soapAction="urn:addSubscriber" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="EntitlementPolicyAdminServiceEntitlementException">
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceEntitlementException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EntitlementPolicyAdminServiceHttpBinding" type="tns:EntitlementPolicyAdminServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="importPolicyFromRegistry">
            <http:operation location="importPolicyFromRegistry"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateSubscriber">
            <http:operation location="updateSubscriber"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEntitlementDataModules">
            <http:operation location="getEntitlementDataModules"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updatePolicy">
            <http:operation location="updatePolicy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getSubscriberIds">
            <http:operation location="getSubscriberIds"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableDisablePolicy">
            <http:operation location="enableDisablePolicy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addPolicy">
            <http:operation location="addPolicy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllPolicyIds">
            <http:operation location="getAllPolicyIds"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="dePromotePolicy">
            <http:operation location="dePromotePolicy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getSubscriber">
            <http:operation location="getSubscriber"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPolicyByVersion">
            <http:operation location="getPolicyByVersion"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addPolicies">
            <http:operation location="addPolicies"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="orderPolicy">
            <http:operation location="orderPolicy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPublisherModuleData">
            <http:operation location="getPublisherModuleData"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPolicyVersions">
            <http:operation location="getPolicyVersions"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllPolicies">
            <http:operation location="getAllPolicies"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteSubscriber">
            <http:operation location="deleteSubscriber"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removePolicy">
            <http:operation location="removePolicy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
	<wsdl:operation name="removePolicies">
            <http:operation location="removePolicies"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getStatusData">
            <http:operation location="getStatusData"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publishToPDP">
            <http:operation location="publishToPDP"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="publish">
            <http:operation location="publish"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getLightPolicy">
            <http:operation location="getLightPolicy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="rollBackPolicy">
            <http:operation location="rollBackPolicy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="publishPolicies">
            <http:operation location="publishPolicies"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEntitlementData">
            <http:operation location="getEntitlementData"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPolicy">
            <http:operation location="getPolicy"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addSubscriber">
            <http:operation location="addSubscriber"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EntitlementPolicyAdminService">
        <wsdl:port name="EntitlementPolicyAdminServiceHttpsSoap11Endpoint" binding="tns:EntitlementPolicyAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/EntitlementPolicyAdminService.EntitlementPolicyAdminServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="EntitlementPolicyAdminServiceHttpsSoap12Endpoint" binding="tns:EntitlementPolicyAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/EntitlementPolicyAdminService.EntitlementPolicyAdminServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="EntitlementPolicyAdminServiceHttpsEndpoint" binding="tns:EntitlementPolicyAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/EntitlementPolicyAdminService.EntitlementPolicyAdminServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
