service-stubs/identity/org.wso2.carbon.user.mgt.workflow.stub/src/main/resources/UserManagementWorkflowService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://workflow.mgt.user.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2757="http://base.identity.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2756="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://workflow.mgt.user.carbon.wso2.org">
    <wsdl:documentation>UserManagementWorkflowService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2758="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="WorkflowException">
                <xs:complexContent>
                    <xs:extension base="ax2757:IdentityException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2759="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://workflow.mgt.user.carbon.wso2.org">
            <xs:import namespace="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:element name="UserManagementWorkflowServiceWorkflowException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="WorkflowException" nillable="true" type="ax2759:WorkflowException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllEntityNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="wfOperationType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="wfStatus" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="entityType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="entityIdFilter" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllEntityNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="listAllEntityNamesRequest">
        <wsdl:part name="parameters" element="ns:listAllEntityNames"/>
    </wsdl:message>
    <wsdl:message name="listAllEntityNamesResponse">
        <wsdl:part name="parameters" element="ns:listAllEntityNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="UserManagementWorkflowServiceWorkflowException">
        <wsdl:part name="parameters" element="ns:UserManagementWorkflowServiceWorkflowException"/>
    </wsdl:message>
    <wsdl:portType name="UserManagementWorkflowServicePortType">
        <wsdl:operation name="listAllEntityNames">
            <wsdl:input message="ns:listAllEntityNamesRequest" wsaw:Action="urn:listAllEntityNames"/>
            <wsdl:output message="ns:listAllEntityNamesResponse" wsaw:Action="urn:listAllEntityNamesResponse"/>
            <wsdl:fault message="ns:UserManagementWorkflowServiceWorkflowException" name="UserManagementWorkflowServiceWorkflowException" wsaw:Action="urn:listAllEntityNamesUserManagementWorkflowServiceWorkflowException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserManagementWorkflowServiceSoap11Binding" type="ns:UserManagementWorkflowServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="listAllEntityNames">
            <soap:operation soapAction="urn:listAllEntityNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserManagementWorkflowServiceWorkflowException">
                <soap:fault use="literal" name="UserManagementWorkflowServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserManagementWorkflowServiceSoap12Binding" type="ns:UserManagementWorkflowServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="listAllEntityNames">
            <soap12:operation soapAction="urn:listAllEntityNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserManagementWorkflowServiceWorkflowException">
                <soap12:fault use="literal" name="UserManagementWorkflowServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserManagementWorkflowServiceHttpBinding" type="ns:UserManagementWorkflowServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="listAllEntityNames">
            <http:operation location="listAllEntityNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserManagementWorkflowService">
        <wsdl:port name="UserManagementWorkflowServiceHttpsSoap11Endpoint" binding="ns:UserManagementWorkflowServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/UserManagementWorkflowService.UserManagementWorkflowServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserManagementWorkflowServiceHttpsSoap12Endpoint" binding="ns:UserManagementWorkflowServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/UserManagementWorkflowService.UserManagementWorkflowServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserManagementWorkflowServiceHttpsEndpoint" binding="ns:UserManagementWorkflowServiceHttpBinding">
            <http:address location="https://localhost:9443/services/UserManagementWorkflowService.UserManagementWorkflowServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>