service-stubs/identity/org.wso2.carbon.identity.functions.library.mgt.stub/src/main/resources/FunctionLibraryManagementAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2356="http://exception.mgt.library.functions.identity.carbon.wso2.org/xsd" xmlns:ax2358="http://model.mgt.library.functions.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mgt.library.functions.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://mgt.library.functions.identity.carbon.wso2.org">
    <wsdl:documentation>FunctionLibraryManagementAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2357="http://exception.mgt.library.functions.identity.carbon.wso2.org/xsd" xmlns:ax2359="http://model.mgt.library.functions.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://exception.mgt.library.functions.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://model.mgt.library.functions.identity.carbon.wso2.org/xsd"/>
            <xs:element name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="FunctionLibraryManagementException" nillable="true" type="ax2356:FunctionLibraryManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listFunctionLibraries">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listFunctionLibrariesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2358:FunctionLibrary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFunctionLibrary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="functionLibraryName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFunctionLibraryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2358:FunctionLibrary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteFunctionLibrary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="functionLibraryName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateFunctionLibrary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="oldFunctionLibraryName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="functionLibrary" nillable="true" type="ax2358:FunctionLibrary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createFunctionLibrary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="functionLibrary" nillable="true" type="ax2358:FunctionLibrary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.mgt.library.functions.identity.carbon.wso2.org/xsd">
            <xs:complexType name="FunctionLibraryManagementException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.mgt.library.functions.identity.carbon.wso2.org/xsd">
            <xs:complexType name="FunctionLibrary">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="functionLibraryName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="functionLibraryScript" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createFunctionLibraryRequest">
        <wsdl:part name="parameters" element="ns1:createFunctionLibrary"/>
    </wsdl:message>
    <wsdl:message name="createFunctionLibraryResponse"/>
    <wsdl:message name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
        <wsdl:part name="parameters" element="ns1:FunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
    </wsdl:message>
    <wsdl:message name="deleteFunctionLibraryRequest">
        <wsdl:part name="parameters" element="ns1:deleteFunctionLibrary"/>
    </wsdl:message>
    <wsdl:message name="deleteFunctionLibraryResponse"/>
    <wsdl:message name="updateFunctionLibraryRequest">
        <wsdl:part name="parameters" element="ns1:updateFunctionLibrary"/>
    </wsdl:message>
    <wsdl:message name="updateFunctionLibraryResponse"/>
    <wsdl:message name="getFunctionLibraryRequest">
        <wsdl:part name="parameters" element="ns1:getFunctionLibrary"/>
    </wsdl:message>
    <wsdl:message name="getFunctionLibraryResponse">
        <wsdl:part name="parameters" element="ns1:getFunctionLibraryResponse"/>
    </wsdl:message>
    <wsdl:message name="listFunctionLibrariesRequest">
        <wsdl:part name="parameters" element="ns1:listFunctionLibraries"/>
    </wsdl:message>
    <wsdl:message name="listFunctionLibrariesResponse">
        <wsdl:part name="parameters" element="ns1:listFunctionLibrariesResponse"/>
    </wsdl:message>
    <wsdl:portType name="FunctionLibraryManagementAdminServicePortType">
        <wsdl:operation name="createFunctionLibrary">
            <wsdl:input message="tns:createFunctionLibraryRequest" wsaw:Action="urn:createFunctionLibrary"/>
            <wsdl:output message="tns:createFunctionLibraryResponse" wsaw:Action="urn:createFunctionLibraryResponse"/>
            <wsdl:fault message="tns:FunctionLibraryManagementAdminServiceFunctionLibraryManagementException" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException" wsaw:Action="urn:createFunctionLibraryFunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteFunctionLibrary">
            <wsdl:input message="tns:deleteFunctionLibraryRequest" wsaw:Action="urn:deleteFunctionLibrary"/>
            <wsdl:output message="tns:deleteFunctionLibraryResponse" wsaw:Action="urn:deleteFunctionLibraryResponse"/>
            <wsdl:fault message="tns:FunctionLibraryManagementAdminServiceFunctionLibraryManagementException" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException" wsaw:Action="urn:deleteFunctionLibraryFunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="updateFunctionLibrary">
            <wsdl:input message="tns:updateFunctionLibraryRequest" wsaw:Action="urn:updateFunctionLibrary"/>
            <wsdl:output message="tns:updateFunctionLibraryResponse" wsaw:Action="urn:updateFunctionLibraryResponse"/>
            <wsdl:fault message="tns:FunctionLibraryManagementAdminServiceFunctionLibraryManagementException" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException" wsaw:Action="urn:updateFunctionLibraryFunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="getFunctionLibrary">
            <wsdl:input message="tns:getFunctionLibraryRequest" wsaw:Action="urn:getFunctionLibrary"/>
            <wsdl:output message="tns:getFunctionLibraryResponse" wsaw:Action="urn:getFunctionLibraryResponse"/>
            <wsdl:fault message="tns:FunctionLibraryManagementAdminServiceFunctionLibraryManagementException" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException" wsaw:Action="urn:getFunctionLibraryFunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="listFunctionLibraries">
            <wsdl:input message="tns:listFunctionLibrariesRequest" wsaw:Action="urn:listFunctionLibraries"/>
            <wsdl:output message="tns:listFunctionLibrariesResponse" wsaw:Action="urn:listFunctionLibrariesResponse"/>
            <wsdl:fault message="tns:FunctionLibraryManagementAdminServiceFunctionLibraryManagementException" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException" wsaw:Action="urn:listFunctionLibrariesFunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FunctionLibraryManagementAdminServiceSoap11Binding" type="tns:FunctionLibraryManagementAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createFunctionLibrary">
            <soap:operation soapAction="urn:createFunctionLibrary" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
                <soap:fault use="literal" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteFunctionLibrary">
            <soap:operation soapAction="urn:deleteFunctionLibrary" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
                <soap:fault use="literal" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateFunctionLibrary">
            <soap:operation soapAction="urn:updateFunctionLibrary" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
                <soap:fault use="literal" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFunctionLibrary">
            <soap:operation soapAction="urn:getFunctionLibrary" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
                <soap:fault use="literal" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listFunctionLibraries">
            <soap:operation soapAction="urn:listFunctionLibraries" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
                <soap:fault use="literal" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FunctionLibraryManagementAdminServiceSoap12Binding" type="tns:FunctionLibraryManagementAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="createFunctionLibrary">
            <soap12:operation soapAction="urn:createFunctionLibrary" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
                <soap12:fault use="literal" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteFunctionLibrary">
            <soap12:operation soapAction="urn:deleteFunctionLibrary" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
                <soap12:fault use="literal" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateFunctionLibrary">
            <soap12:operation soapAction="urn:updateFunctionLibrary" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
                <soap12:fault use="literal" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFunctionLibrary">
            <soap12:operation soapAction="urn:getFunctionLibrary" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
                <soap12:fault use="literal" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listFunctionLibraries">
            <soap12:operation soapAction="urn:listFunctionLibraries" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException">
                <soap12:fault use="literal" name="FunctionLibraryManagementAdminServiceFunctionLibraryManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FunctionLibraryManagementAdminServiceHttpBinding" type="tns:FunctionLibraryManagementAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="createFunctionLibrary">
            <http:operation location="createFunctionLibrary"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteFunctionLibrary">
            <http:operation location="deleteFunctionLibrary"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateFunctionLibrary">
            <http:operation location="updateFunctionLibrary"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFunctionLibrary">
            <http:operation location="getFunctionLibrary"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listFunctionLibraries">
            <http:operation location="listFunctionLibraries"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FunctionLibraryManagementAdminService">
        <wsdl:port name="FunctionLibraryManagementAdminServiceHttpsSoap11Endpoint" binding="tns:FunctionLibraryManagementAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/FunctionLibraryManagementAdminService.FunctionLibraryManagementAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FunctionLibraryManagementAdminServiceHttpsSoap12Endpoint" binding="tns:FunctionLibraryManagementAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/FunctionLibraryManagementAdminService.FunctionLibraryManagementAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FunctionLibraryManagementAdminServiceHttpsEndpoint" binding="tns:FunctionLibraryManagementAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/FunctionLibraryManagementAdminService.FunctionLibraryManagementAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
