service-stubs/identity/org.wso2.carbon.identity.workflow.mgt.bps.stub/src/main/resources/package_mgt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<definitions name="ProcessManagement" targetNamespace="http://wso2.org/bps/management/wsdl/BPELPackageManagement"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://wso2.org/bps/management/wsdl/BPELPackageManagement"
             xmlns:ns="http://wso2.org/bps/management/schema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://wso2.org/bps/management/wsdl/BPELPackageManagement">
            <xsd:import namespace="http://wso2.org/bps/management/schema" schemaLocation="bps_management.xsd"/>
        </xsd:schema>
    </types>
    <!-- SVN ChECK -->
    <message name="undeployBPELPackageRequest">
        <part name="part" element="ns:undeployBPELPackage"/>
    </message>
    <message name="undeployBPELPackageResponse">
        <part name="part" element="ns:undeployStatus"/>
    </message>
    <message name="redeployBPELPackageRequest">
        <part name="part" element="ns:redeployPackage"/>
    </message>
    <message name="redeployBPELPackageResponse">
        <part name="part" element="ns:redeployStatus"/>
    </message>
    <message name="deleteBPELPackageRequest">
        <part name="part" element="ns:deletePackage"/>
    </message>
    <message name="deleteBPELPackageResponse">
        <part name="part" element="ns:deleteStatus"/>
    </message>
    <message name="listDeployedPackagesPaginatedRequest">
        <part name="part" element="ns:listDeployedPackagesPaginated"/>
    </message>
    <message name="listDeployedPackagesPaginatedResponse">
        <part name="part" element="ns:deployedPackagesPaginated"/>
    </message>
    <message name="listProcessesInPackageRequest">
        <part name="part" element="ns:listProcessesInPackage"/>
    </message>
    <message name="listProcessesInPackageResponse">
        <part name="part" element="ns:processesInPackage"/>
    </message>
    <message name="packageManagementException">
        <part name="part"  element="ns:packageManagementException" />
    </message>

    <portType name="BPELPackageManagementPortType">
        <operation name="undeployBPELPackage">
            <input message="tns:undeployBPELPackageRequest"/>
            <output message="tns:undeployBPELPackageResponse"/>
            <fault name="packageManagementException" message="tns:packageManagementException" />
        </operation>
        <!--<operation name="redeployBPELPackage">-->
            <!--<input message="tns:redeployBPELPackageRequest"/>-->
            <!--<output message="tns:redeployBPELPackageResponse"/>-->
        <!--</operation>-->
        <!--<operation name="deleteBPELPackage">-->
            <!--<input message="tns:deleteBPELPackageRequest"/>-->
            <!--<output message="tns:deleteBPELPackageResponse"/>-->
        <!--</operation>-->
        <operation name="listDeployedPackagesPaginated">
            <input message="tns:listDeployedPackagesPaginatedRequest"/>
            <output message="tns:listDeployedPackagesPaginatedResponse"/>
            <fault name="packageManagementException" message="tns:packageManagementException" />
        </operation>
        <operation name="listProcessesInPackage">
            <input message="tns:listProcessesInPackageRequest"/>
            <output message="tns:listProcessesInPackageResponse"/>
            <fault name="packageManagementException" message="tns:packageManagementException" />
        </operation>
    </portType>
    <binding name="BPELPackageManagementSOAPBinding" type="tns:BPELPackageManagementPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="undeployBPELPackage">
            <soap:operation soapAction="urn:undeployBPELPackage"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="packageManagementException">
                <soap:fault name="packageManagementException" use="literal"/>
            </fault>
        </operation>
        <!--<operation name="redeployBPELPackage">-->
            <!--<soap:operation soapAction="urn:redeployBPELPackage"/>-->
            <!--<input>-->
                <!--<soap:body use="literal"/>-->
            <!--</input>-->
            <!--<output>-->
                <!--<soap:body use="literal"/>-->
            <!--</output>-->
        <!--</operation>-->
        <!--<operation name="deleteBPELPackage">-->
            <!--<soap:operation soapAction="urn:deleteBPELPackage"/>-->
            <!--<input>-->
                <!--<soap:body use="literal"/>-->
            <!--</input>-->
            <!--<output>-->
                <!--<soap:body use="literal"/>-->
            <!--</output>-->
        <!--</operation>-->
        <operation name="listDeployedPackagesPaginated">
            <soap:operation soapAction="urn:listDeployedPackagesPaginated"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="packageManagementException">
                <soap:fault name="packageManagementException" use="literal"/>
            </fault>
        </operation>
        <operation name="listProcessesInPackage">
            <soap:operation soapAction="urn:listProcessesInPackage"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="packageManagementException">
                <soap:fault name="packageManagementException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="BPELPackageManagementService">
        <port name="BPELPackageManagementSOAPPort" binding="tns:BPELPackageManagementSOAPBinding">
            <soap:address location="https://localhost:9763/services/BPELPackageManagementService"/>
        </port>
    </service>
</definitions>
