service-stubs/identity/org.wso2.carbon.identity.event.stub/src/main/resources/EventManagementAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2309="http://event.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.event.identity.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2311="http://bean.event.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.event.identity.carbon.wso2.org">
    <wsdl:documentation>EventManagementAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bean.event.identity.carbon.wso2.org/xsd">
            <xs:complexType name="EventMgtConfiguration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="property" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="propertyValue" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://event.identity.carbon.wso2.org/xsd">
            <xs:complexType name="EventMgtException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2312="http://bean.event.identity.carbon.wso2.org/xsd" xmlns:ax2310="http://event.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.event.identity.carbon.wso2.org">
            <xs:import namespace="http://event.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://bean.event.identity.carbon.wso2.org/xsd"/>
            <xs:element name="EventManagementAdminServiceEventMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EventMgtException" nillable="true" type="ax2309:EventMgtException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="configurations" nillable="true" type="ax2311:EventMgtConfiguration"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConfiguration">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2311:EventMgtConfiguration"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateConfigurationRequest">
        <wsdl:part name="parameters" element="ns:updateConfiguration"/>
    </wsdl:message>
    <wsdl:message name="updateConfigurationResponse"/>
    <wsdl:message name="EventManagementAdminServiceEventMgtException">
        <wsdl:part name="parameters" element="ns:EventManagementAdminServiceEventMgtException"/>
    </wsdl:message>
    <wsdl:message name="getConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getConfigurationResponse"/>
    </wsdl:message>
    <wsdl:portType name="EventManagementAdminServicePortType">
        <wsdl:operation name="updateConfiguration">
            <wsdl:input message="ns:updateConfigurationRequest" wsaw:Action="urn:updateConfiguration"/>
            <wsdl:output message="ns:updateConfigurationResponse" wsaw:Action="urn:updateConfigurationResponse"/>
            <wsdl:fault message="ns:EventManagementAdminServiceEventMgtException" name="EventManagementAdminServiceEventMgtException" wsaw:Action="urn:updateConfigurationEventManagementAdminServiceEventMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="getConfiguration">
            <wsdl:input message="ns:getConfigurationRequest" wsaw:Action="urn:getConfiguration"/>
            <wsdl:output message="ns:getConfigurationResponse" wsaw:Action="urn:getConfigurationResponse"/>
            <wsdl:fault message="ns:EventManagementAdminServiceEventMgtException" name="EventManagementAdminServiceEventMgtException" wsaw:Action="urn:getConfigurationEventManagementAdminServiceEventMgtException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventManagementAdminServiceSoap11Binding" type="ns:EventManagementAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateConfiguration">
            <soap:operation soapAction="urn:updateConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EventManagementAdminServiceEventMgtException">
                <soap:fault use="literal" name="EventManagementAdminServiceEventMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConfiguration">
            <soap:operation soapAction="urn:getConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EventManagementAdminServiceEventMgtException">
                <soap:fault use="literal" name="EventManagementAdminServiceEventMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventManagementAdminServiceSoap12Binding" type="ns:EventManagementAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateConfiguration">
            <soap12:operation soapAction="urn:updateConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EventManagementAdminServiceEventMgtException">
                <soap12:fault use="literal" name="EventManagementAdminServiceEventMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConfiguration">
            <soap12:operation soapAction="urn:getConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EventManagementAdminServiceEventMgtException">
                <soap12:fault use="literal" name="EventManagementAdminServiceEventMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventManagementAdminServiceHttpBinding" type="ns:EventManagementAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="updateConfiguration">
            <http:operation location="updateConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConfiguration">
            <http:operation location="getConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventManagementAdminService">
        <wsdl:port name="EventManagementAdminServiceHttpsSoap11Endpoint" binding="ns:EventManagementAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/EventManagementAdminService.EventManagementAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventManagementAdminServiceHttpsSoap12Endpoint" binding="ns:EventManagementAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/EventManagementAdminService.EventManagementAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventManagementAdminServiceHttpsEndpoint" binding="ns:EventManagementAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/EventManagementAdminService.EventManagementAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>