service-stubs/identity/org.wso2.carbon.identity.authenticator.token.stub/src/main/resources/AuthenticationAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://token.authenticator.identity.carbon.wso2.org"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:ax225="http://common.core.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://token.authenticator.identity.carbon.wso2.org">
	<wsdl:documentation>TokenBasedAuthenticator
	</wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns:ax226="http://token.authenticator.identity.carbon.wso2.org"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://common.core.carbon.wso2.org/xsd">
			<xs:import namespace="http://token.authenticator.identity.carbon.wso2.org" />
			<xs:complexType name="AuthenticationException">
				<xs:complexContent>
					<xs:extension base="ax226:Exception">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:ax227="http://common.core.carbon.wso2.org/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://token.authenticator.identity.carbon.wso2.org">
			<xs:import namespace="http://common.core.carbon.wso2.org/xsd" />
			<xs:complexType name="Exception">
				<xs:sequence>
					<xs:element minOccurs="0" name="Exception" nillable="true"
						type="xs:anyType" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="AuthenticationException">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="AuthenticationException"
							nillable="true" type="ax227:AuthenticationException" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAutheticationToken">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="username" nillable="true"
							type="xs:string" />
						<xs:element minOccurs="0" name="password" nillable="true"
							type="xs:string" />
						<xs:element minOccurs="0" name="remoteAddress"
							nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getAutheticationTokenResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getAutheticationTokenRequest">
		<wsdl:part name="parameters" element="ns:getAutheticationToken" />
	</wsdl:message>
	<wsdl:message name="getAutheticationTokenResponse">
		<wsdl:part name="parameters" element="ns:getAutheticationTokenResponse" />
	</wsdl:message>
	<wsdl:message name="AuthenticationException">
		<wsdl:part name="parameters" element="ns:AuthenticationException" />
	</wsdl:message>
	<wsdl:portType name="TokenBasedAuthenticatorPortType">
		<wsdl:operation name="getAutheticationToken">
			<wsdl:input message="ns:getAutheticationTokenRequest"
				wsaw:Action="urn:getAutheticationToken" />
			<wsdl:output message="ns:getAutheticationTokenResponse"
				wsaw:Action="urn:getAutheticationTokenResponse" />
			<wsdl:fault message="ns:AuthenticationException" name="AuthenticationException"
				wsaw:Action="urn:getAutheticationTokenAuthenticationException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TokenBasedAuthenticatorSoap11Binding"
		type="ns:TokenBasedAuthenticatorPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="getAutheticationToken">
			<soap:operation soapAction="urn:getAutheticationToken"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AuthenticationException">
				<soap:fault use="literal" name="AuthenticationException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TokenBasedAuthenticatorSoap12Binding"
		type="ns:TokenBasedAuthenticatorPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="getAutheticationToken">
			<soap12:operation soapAction="urn:getAutheticationToken"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AuthenticationException">
				<soap12:fault use="literal" name="AuthenticationException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TokenBasedAuthenticatorHttpBinding"
		type="ns:TokenBasedAuthenticatorPortType">
		<http:binding verb="POST" />
		<wsdl:operation name="getAutheticationToken">
			<http:operation location="getAutheticationToken" />
			<wsdl:input>
				<mime:content type="text/xml" part="getAutheticationToken" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="getAutheticationToken" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TokenBasedAuthenticator">
		<wsdl:port name="TokenBasedAuthenticatorHttpsSoap11Endpoint"
			binding="ns:TokenBasedAuthenticatorSoap11Binding">
			<soap:address
				location="https://localhost:9443/services/TokenBasedAuthenticator.TokenBasedAuthenticatorHttpsSoap11Endpoint/" />
		</wsdl:port>
		<wsdl:port name="TokenBasedAuthenticatorHttpsSoap12Endpoint"
			binding="ns:TokenBasedAuthenticatorSoap12Binding">
			<soap12:address
				location="https://localhost:9443/services/TokenBasedAuthenticator.TokenBasedAuthenticatorHttpsSoap12Endpoint/" />
		</wsdl:port>
		<wsdl:port name="TokenBasedAuthenticatorHttpsEndpoint"
			binding="ns:TokenBasedAuthenticatorHttpBinding">
			<http:address
				location="https://localhost:9443/services/TokenBasedAuthenticator.TokenBasedAuthenticatorHttpsEndpoint/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
