service-stubs/identity/org.wso2.carbon.identity.claim.mgt.stub/src/main/resources/IdentityClaimManagementService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2300="http://api.user.carbon.wso2.org/xsd" xmlns:ax2303="http://base.identity.carbon.wso2.org/xsd" xmlns:ax2305="http://dto.mgt.claim.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2297="http://mgt.claim.identity.carbon.wso2.org/xsd" xmlns:ax2299="http://core.user.carbon.wso2.org/xsd" xmlns:tns="http://mgt.claim.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://mgt.claim.identity.carbon.wso2.org">
    <wsdl:documentation>IdentityClaimManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.user.carbon.wso2.org/xsd">
            <xs:complexType name="UserStoreException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.claim.identity.carbon.wso2.org/xsd">
            <xs:complexType name="ClaimManagementException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2302="http://core.user.carbon.wso2.org/xsd" xmlns:ax2304="http://base.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2306="http://dto.mgt.claim.identity.carbon.wso2.org/xsd" xmlns:ax2298="http://mgt.claim.identity.carbon.wso2.org/xsd" xmlns:ax2307="http://api.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://mgt.claim.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://core.user.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.claim.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://api.user.carbon.wso2.org/xsd"/>
            <xs:element name="IdentityClaimManagementServiceClaimManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ClaimManagementException" nillable="true" type="ax2297:ClaimManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IdentityClaimManagementServiceUserStoreException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserStoreException" nillable="true" type="ax2302:UserStoreException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IdentityClaimManagementServiceIdentityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2303:IdentityException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateClaimMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="claimMappingDTO" nillable="true" type="ax2305:ClaimMappingDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeClaimMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dialectUri" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="claimUri" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimMappingByDialect">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dialectUri" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimMappingByDialectResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2305:ClaimDialectDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimMappings">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClaimMappingsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2305:ClaimDialectDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IdentityClaimManagementServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityClaimManagementServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="removeClaimDialect">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dialectUri" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewClaimDialect">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="claimDialectDTO" nillable="true" type="ax2305:ClaimDialectDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addNewClaimMapping">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="claimMappingDTO" nillable="true" type="ax2305:ClaimMappingDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.claim.identity.carbon.wso2.org/xsd">
            <xs:complexType name="ClaimMappingDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claim" nillable="true" type="ax2305:ClaimDTO"/>
                    <xs:element minOccurs="0" name="mappedAttribute" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="mappedAttributes" nillable="true" type="ax2305:ClaimAttributeDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="checkedAttribute" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="claimUri" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dialectURI" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayOrder" type="xs:int"/>
                    <xs:element minOccurs="0" name="displayTag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="readOnly" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="regEx" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="supportedByDefault" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimAttributeDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClaimDialectDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="claimMappings" nillable="true" type="ax2305:ClaimMappingDTO"/>
                    <xs:element minOccurs="0" name="dialectURI" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userStore" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorInfoList" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2301="http://api.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.user.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.user.carbon.wso2.org/xsd"/>
            <xs:complexType name="UserStoreException">
                <xs:complexContent>
                    <xs:extension base="ax2300:UserStoreException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateClaimMappingRequest">
        <wsdl:part name="parameters" element="ns1:updateClaimMapping"/>
    </wsdl:message>
    <wsdl:message name="IdentityClaimManagementServiceClaimManagementException">
        <wsdl:part name="parameters" element="ns1:IdentityClaimManagementServiceClaimManagementException"/>
    </wsdl:message>
    <wsdl:message name="IdentityClaimManagementServiceUserStoreException">
        <wsdl:part name="parameters" element="ns1:IdentityClaimManagementServiceUserStoreException"/>
    </wsdl:message>
    <wsdl:message name="IdentityClaimManagementServiceIdentityException">
        <wsdl:part name="parameters" element="ns1:IdentityClaimManagementServiceIdentityException"/>
    </wsdl:message>
    <wsdl:message name="getClaimMappingsRequest">
        <wsdl:part name="parameters" element="ns1:getClaimMappings"/>
    </wsdl:message>
    <wsdl:message name="getClaimMappingsResponse">
        <wsdl:part name="parameters" element="ns1:getClaimMappingsResponse"/>
    </wsdl:message>
    <wsdl:message name="addNewClaimMappingRequest">
        <wsdl:part name="parameters" element="ns1:addNewClaimMapping"/>
    </wsdl:message>
    <wsdl:message name="addNewClaimDialectRequest">
        <wsdl:part name="parameters" element="ns1:addNewClaimDialect"/>
    </wsdl:message>
    <wsdl:message name="IdentityClaimManagementServiceException">
        <wsdl:part name="parameters" element="ns1:IdentityClaimManagementServiceException"/>
    </wsdl:message>
    <wsdl:message name="getClaimMappingByDialectRequest">
        <wsdl:part name="parameters" element="ns1:getClaimMappingByDialect"/>
    </wsdl:message>
    <wsdl:message name="getClaimMappingByDialectResponse">
        <wsdl:part name="parameters" element="ns1:getClaimMappingByDialectResponse"/>
    </wsdl:message>
    <wsdl:message name="removeClaimMappingRequest">
        <wsdl:part name="parameters" element="ns1:removeClaimMapping"/>
    </wsdl:message>
    <wsdl:message name="removeClaimDialectRequest">
        <wsdl:part name="parameters" element="ns1:removeClaimDialect"/>
    </wsdl:message>
    <wsdl:portType name="IdentityClaimManagementServicePortType">
        <wsdl:operation name="updateClaimMapping">
            <wsdl:input message="tns:updateClaimMappingRequest" wsaw:Action="urn:updateClaimMapping"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceClaimManagementException" name="IdentityClaimManagementServiceClaimManagementException" wsaw:Action="urn:updateClaimMappingIdentityClaimManagementServiceClaimManagementException"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceUserStoreException" name="IdentityClaimManagementServiceUserStoreException" wsaw:Action="urn:updateClaimMappingIdentityClaimManagementServiceUserStoreException"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceIdentityException" name="IdentityClaimManagementServiceIdentityException" wsaw:Action="urn:updateClaimMappingIdentityClaimManagementServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="getClaimMappings">
            <wsdl:input message="tns:getClaimMappingsRequest" wsaw:Action="urn:getClaimMappings"/>
            <wsdl:output message="tns:getClaimMappingsResponse" wsaw:Action="urn:getClaimMappingsResponse"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceClaimManagementException" name="IdentityClaimManagementServiceClaimManagementException" wsaw:Action="urn:getClaimMappingsIdentityClaimManagementServiceClaimManagementException"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceUserStoreException" name="IdentityClaimManagementServiceUserStoreException" wsaw:Action="urn:getClaimMappingsIdentityClaimManagementServiceUserStoreException"/>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimMapping">
            <wsdl:input message="tns:addNewClaimMappingRequest" wsaw:Action="urn:addNewClaimMapping"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceClaimManagementException" name="IdentityClaimManagementServiceClaimManagementException" wsaw:Action="urn:addNewClaimMappingIdentityClaimManagementServiceClaimManagementException"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceUserStoreException" name="IdentityClaimManagementServiceUserStoreException" wsaw:Action="urn:addNewClaimMappingIdentityClaimManagementServiceUserStoreException"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceIdentityException" name="IdentityClaimManagementServiceIdentityException" wsaw:Action="urn:addNewClaimMappingIdentityClaimManagementServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimDialect">
            <wsdl:input message="tns:addNewClaimDialectRequest" wsaw:Action="urn:addNewClaimDialect"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceException" name="IdentityClaimManagementServiceException" wsaw:Action="urn:addNewClaimDialectIdentityClaimManagementServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getClaimMappingByDialect">
            <wsdl:input message="tns:getClaimMappingByDialectRequest" wsaw:Action="urn:getClaimMappingByDialect"/>
            <wsdl:output message="tns:getClaimMappingByDialectResponse" wsaw:Action="urn:getClaimMappingByDialectResponse"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceClaimManagementException" name="IdentityClaimManagementServiceClaimManagementException" wsaw:Action="urn:getClaimMappingByDialectIdentityClaimManagementServiceClaimManagementException"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceUserStoreException" name="IdentityClaimManagementServiceUserStoreException" wsaw:Action="urn:getClaimMappingByDialectIdentityClaimManagementServiceUserStoreException"/>
        </wsdl:operation>
        <wsdl:operation name="removeClaimMapping">
            <wsdl:input message="tns:removeClaimMappingRequest" wsaw:Action="urn:removeClaimMapping"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceClaimManagementException" name="IdentityClaimManagementServiceClaimManagementException" wsaw:Action="urn:removeClaimMappingIdentityClaimManagementServiceClaimManagementException"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceUserStoreException" name="IdentityClaimManagementServiceUserStoreException" wsaw:Action="urn:removeClaimMappingIdentityClaimManagementServiceUserStoreException"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceIdentityException" name="IdentityClaimManagementServiceIdentityException" wsaw:Action="urn:removeClaimMappingIdentityClaimManagementServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="removeClaimDialect">
            <wsdl:input message="tns:removeClaimDialectRequest" wsaw:Action="urn:removeClaimDialect"/>
            <wsdl:fault message="tns:IdentityClaimManagementServiceException" name="IdentityClaimManagementServiceException" wsaw:Action="urn:removeClaimDialectIdentityClaimManagementServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityClaimManagementServiceSoap11Binding" type="tns:IdentityClaimManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateClaimMapping">
            <soap:operation soapAction="urn:updateClaimMapping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityClaimManagementServiceClaimManagementException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceClaimManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceUserStoreException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceUserStoreException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceIdentityException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClaimMappings">
            <soap:operation soapAction="urn:getClaimMappings" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityClaimManagementServiceClaimManagementException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceClaimManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceUserStoreException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimMapping">
            <soap:operation soapAction="urn:addNewClaimMapping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityClaimManagementServiceClaimManagementException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceClaimManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceUserStoreException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceUserStoreException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceIdentityException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimDialect">
            <soap:operation soapAction="urn:addNewClaimDialect" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityClaimManagementServiceException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClaimMappingByDialect">
            <soap:operation soapAction="urn:getClaimMappingByDialect" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityClaimManagementServiceClaimManagementException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceClaimManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceUserStoreException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeClaimMapping">
            <soap:operation soapAction="urn:removeClaimMapping" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityClaimManagementServiceClaimManagementException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceClaimManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceUserStoreException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceUserStoreException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceIdentityException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeClaimDialect">
            <soap:operation soapAction="urn:removeClaimDialect" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityClaimManagementServiceException">
                <soap:fault use="literal" name="IdentityClaimManagementServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityClaimManagementServiceSoap12Binding" type="tns:IdentityClaimManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateClaimMapping">
            <soap12:operation soapAction="urn:updateClaimMapping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityClaimManagementServiceClaimManagementException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceClaimManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceUserStoreException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceUserStoreException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceIdentityException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClaimMappings">
            <soap12:operation soapAction="urn:getClaimMappings" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityClaimManagementServiceClaimManagementException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceClaimManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceUserStoreException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimMapping">
            <soap12:operation soapAction="urn:addNewClaimMapping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityClaimManagementServiceClaimManagementException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceClaimManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceUserStoreException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceUserStoreException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceIdentityException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimDialect">
            <soap12:operation soapAction="urn:addNewClaimDialect" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityClaimManagementServiceException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClaimMappingByDialect">
            <soap12:operation soapAction="urn:getClaimMappingByDialect" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityClaimManagementServiceClaimManagementException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceClaimManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceUserStoreException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeClaimMapping">
            <soap12:operation soapAction="urn:removeClaimMapping" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityClaimManagementServiceClaimManagementException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceClaimManagementException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceUserStoreException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceUserStoreException"/>
            </wsdl:fault>
            <wsdl:fault name="IdentityClaimManagementServiceIdentityException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeClaimDialect">
            <soap12:operation soapAction="urn:removeClaimDialect" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityClaimManagementServiceException">
                <soap12:fault use="literal" name="IdentityClaimManagementServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityClaimManagementServiceHttpBinding" type="tns:IdentityClaimManagementServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="updateClaimMapping">
            <http:operation location="updateClaimMapping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getClaimMappings">
            <http:operation location="getClaimMappings"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimMapping">
            <http:operation location="addNewClaimMapping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addNewClaimDialect">
            <http:operation location="addNewClaimDialect"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getClaimMappingByDialect">
            <http:operation location="getClaimMappingByDialect"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeClaimMapping">
            <http:operation location="removeClaimMapping"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeClaimDialect">
            <http:operation location="removeClaimDialect"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityClaimManagementService">
        <wsdl:port name="IdentityClaimManagementServiceHttpsSoap11Endpoint" binding="tns:IdentityClaimManagementServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentityClaimManagementService.IdentityClaimManagementServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityClaimManagementServiceHttpsSoap12Endpoint" binding="tns:IdentityClaimManagementServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentityClaimManagementService.IdentityClaimManagementServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityClaimManagementServiceHttpsEndpoint" binding="tns:IdentityClaimManagementServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentityClaimManagementService.IdentityClaimManagementServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>