service-stubs/identity/org.wso2.carbon.identity.mgt.stub/src/main/resources/AccountCredentialMgtConfigService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2369="http://base.identity.carbon.wso2.org/xsd" xmlns:ns="http://services.mgt.identity.carbon.wso2.org" xmlns:ax2368="http://mgt.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2372="http://dto.mgt.identity.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.identity.carbon.wso2.org">
    <wsdl:documentation>AccountCredentialMgtConfigService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2373="http://dto.mgt.identity.carbon.wso2.org/xsd" xmlns:ax2371="http://mgt.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.identity.carbon.wso2.org">
            <xs:import namespace="http://mgt.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.identity.carbon.wso2.org/xsd"/>
            <xs:element name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityMgtServiceException" nillable="true" type="ax2368:IdentityMgtServiceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveEmailConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="emailTemplates" nillable="true" type="ax2373:EmailTemplateDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmailConfig">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmailConfigResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2373:EmailTemplateDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.identity.carbon.wso2.org/xsd">
            <xs:complexType name="EmailTemplateDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="body" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="footer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2370="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="IdentityMgtServiceException">
                <xs:complexContent>
                    <xs:extension base="ax2369:IdentityException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="saveEmailConfigRequest">
        <wsdl:part name="parameters" element="ns:saveEmailConfig"/>
    </wsdl:message>
    <wsdl:message name="saveEmailConfigResponse"/>
    <wsdl:message name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
        <wsdl:part name="parameters" element="ns:AccountCredentialMgtConfigServiceIdentityMgtServiceException"/>
    </wsdl:message>
    <wsdl:message name="getEmailConfigRequest">
        <wsdl:part name="parameters" element="ns:getEmailConfig"/>
    </wsdl:message>
    <wsdl:message name="getEmailConfigResponse">
        <wsdl:part name="parameters" element="ns:getEmailConfigResponse"/>
    </wsdl:message>
    <wsdl:portType name="AccountCredentialMgtConfigServicePortType">
        <wsdl:operation name="saveEmailConfig">
            <wsdl:input message="ns:saveEmailConfigRequest" wsaw:Action="urn:saveEmailConfig"/>
            <wsdl:output message="ns:saveEmailConfigResponse" wsaw:Action="urn:saveEmailConfigResponse"/>
            <wsdl:fault message="ns:AccountCredentialMgtConfigServiceIdentityMgtServiceException" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException" wsaw:Action="urn:saveEmailConfigAccountCredentialMgtConfigServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getEmailConfig">
            <wsdl:input message="ns:getEmailConfigRequest" wsaw:Action="urn:getEmailConfig"/>
            <wsdl:output message="ns:getEmailConfigResponse" wsaw:Action="urn:getEmailConfigResponse"/>
            <wsdl:fault message="ns:AccountCredentialMgtConfigServiceIdentityMgtServiceException" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException" wsaw:Action="urn:getEmailConfigAccountCredentialMgtConfigServiceIdentityMgtServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AccountCredentialMgtConfigServiceSoap11Binding" type="ns:AccountCredentialMgtConfigServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="saveEmailConfig">
            <soap:operation soapAction="urn:saveEmailConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEmailConfig">
            <soap:operation soapAction="urn:getEmailConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AccountCredentialMgtConfigServiceSoap12Binding" type="ns:AccountCredentialMgtConfigServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="saveEmailConfig">
            <soap12:operation soapAction="urn:saveEmailConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEmailConfig">
            <soap12:operation soapAction="urn:getEmailConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AccountCredentialMgtConfigServiceHttpBinding" type="ns:AccountCredentialMgtConfigServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="saveEmailConfig">
            <http:operation location="saveEmailConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmailConfig">
            <http:operation location="getEmailConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AccountCredentialMgtConfigService">
        <wsdl:port name="AccountCredentialMgtConfigServiceHttpsSoap11Endpoint" binding="ns:AccountCredentialMgtConfigServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/AccountCredentialMgtConfigService.AccountCredentialMgtConfigServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AccountCredentialMgtConfigServiceHttpsSoap12Endpoint" binding="ns:AccountCredentialMgtConfigServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/AccountCredentialMgtConfigService.AccountCredentialMgtConfigServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AccountCredentialMgtConfigServiceHttpsEndpoint" binding="ns:AccountCredentialMgtConfigServiceHttpBinding">
            <http:address location="https://localhost:9443/services/AccountCredentialMgtConfigService.AccountCredentialMgtConfigServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>