service-stubs/identity/org.wso2.carbon.identity.mgt.stub/src/main/resources/AccountCredentialMgtConfigService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.identity.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2304="http://dto.mgt.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2302="http://mgt.identity.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.identity.carbon.wso2.org">
    <wsdl:documentation>AccountCredentialMgtConfigService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2305="http://dto.mgt.identity.carbon.wso2.org/xsd" xmlns:ax2303="http://mgt.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.identity.carbon.wso2.org">
            <xs:import namespace="http://mgt.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.mgt.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityMgtServiceException" nillable="true" type="ax2302:IdentityMgtServiceException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveEmailConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="emailTemplates" nillable="true" type="ax2304:EmailTemplateDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmailConfig">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmailConfigResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2304:EmailTemplateDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.identity.carbon.wso2.org/xsd">
            <xs:complexType name="EmailTemplateDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="body" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="footer" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityMgtServiceException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="saveEmailConfigRequest">
        <wsdl:part name="parameters" element="ns:saveEmailConfig"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
        <wsdl:part name="parameters" element="ns:AccountCredentialMgtConfigServiceIdentityMgtServiceException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmailConfigRequest">
        <wsdl:part name="parameters" element="ns:getEmailConfig"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmailConfigResponse">
        <wsdl:part name="parameters" element="ns:getEmailConfigResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AccountCredentialMgtConfigServicePortType">
        <wsdl:operation name="saveEmailConfig">
            <wsdl:input message="ns:saveEmailConfigRequest" wsaw:Action="urn:saveEmailConfig"></wsdl:input>
            <wsdl:fault message="ns:AccountCredentialMgtConfigServiceIdentityMgtServiceException" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException" wsaw:Action="urn:saveEmailConfigAccountCredentialMgtConfigServiceIdentityMgtServiceException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEmailConfig">
            <wsdl:input message="ns:getEmailConfigRequest" wsaw:Action="urn:getEmailConfig"></wsdl:input>
            <wsdl:output message="ns:getEmailConfigResponse" wsaw:Action="urn:getEmailConfigResponse"></wsdl:output>
            <wsdl:fault message="ns:AccountCredentialMgtConfigServiceIdentityMgtServiceException" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException" wsaw:Action="urn:getEmailConfigAccountCredentialMgtConfigServiceIdentityMgtServiceException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AccountCredentialMgtConfigServiceSoap11Binding" type="ns:AccountCredentialMgtConfigServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="saveEmailConfig">
            <soap:operation soapAction="urn:saveEmailConfig" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEmailConfig">
            <soap:operation soapAction="urn:getEmailConfig" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AccountCredentialMgtConfigServiceSoap12Binding" type="ns:AccountCredentialMgtConfigServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="saveEmailConfig">
            <soap12:operation soapAction="urn:saveEmailConfig" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEmailConfig">
            <soap12:operation soapAction="urn:getEmailConfig" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="AccountCredentialMgtConfigServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="AccountCredentialMgtConfigServiceIdentityMgtServiceException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AccountCredentialMgtConfigServiceHttpBinding" type="ns:AccountCredentialMgtConfigServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="saveEmailConfig">
            <http:operation location="saveEmailConfig"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEmailConfig">
            <http:operation location="getEmailConfig"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AccountCredentialMgtConfigService">
        <wsdl:port name="AccountCredentialMgtConfigServiceHttpsSoap11Endpoint" binding="ns:AccountCredentialMgtConfigServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/AccountCredentialMgtConfigService.AccountCredentialMgtConfigServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="AccountCredentialMgtConfigServiceHttpsSoap12Endpoint" binding="ns:AccountCredentialMgtConfigServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/AccountCredentialMgtConfigService.AccountCredentialMgtConfigServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="AccountCredentialMgtConfigServiceHttpsEndpoint" binding="ns:AccountCredentialMgtConfigServiceHttpBinding">
            <http:address location="https://localhost:9443/services/AccountCredentialMgtConfigService.AccountCredentialMgtConfigServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>