service-stubs/identity/org.wso2.carbon.identity.mgt.stub/src/main/resources/AdminAdvisoryManagementService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2312="http://mgt.identity.carbon.wso2.org/xsd" xmlns:ax2313="http://base.identity.carbon.wso2.org/xsd" xmlns:ns="http://services.mgt.identity.carbon.wso2.org" xmlns:ax2316="http://dto.mgt.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://services.mgt.identity.carbon.wso2.org">
    <wsdl:documentation>AdminAdvisoryManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2315="http://mgt.identity.carbon.wso2.org/xsd" xmlns:ax2317="http://dto.mgt.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.identity.carbon.wso2.org">
            <xs:import namespace="http://mgt.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.identity.carbon.wso2.org/xsd"/>
            <xs:element name="AdminAdvisoryManagementServiceIdentityMgtServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityMgtServiceException" nillable="true" type="ax2312:IdentityMgtServiceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveAdminAdvisoryConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="adminAdvisoryBanner" nillable="true" type="ax2316:AdminAdvisoryBannerDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdminAdvisoryConfig">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdminAdvisoryConfigResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2316:AdminAdvisoryBannerDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.identity.carbon.wso2.org/xsd">
            <xs:complexType name="AdminAdvisoryBannerDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bannerContent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enableBanner" nillable="true" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2314="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="IdentityMgtServiceException">
                <xs:complexContent>
                    <xs:extension base="ax2313:IdentityException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAdminAdvisoryConfigRequest">
        <wsdl:part name="parameters" element="ns:getAdminAdvisoryConfig"/>
    </wsdl:message>
    <wsdl:message name="getAdminAdvisoryConfigResponse">
        <wsdl:part name="parameters" element="ns:getAdminAdvisoryConfigResponse"/>
    </wsdl:message>
    <wsdl:message name="AdminAdvisoryManagementServiceIdentityMgtServiceException">
        <wsdl:part name="parameters" element="ns:AdminAdvisoryManagementServiceIdentityMgtServiceException"/>
    </wsdl:message>
    <wsdl:message name="saveAdminAdvisoryConfigRequest">
        <wsdl:part name="parameters" element="ns:saveAdminAdvisoryConfig"/>
    </wsdl:message>
    <wsdl:message name="saveAdminAdvisoryConfigResponse"/>
    <wsdl:portType name="AdminAdvisoryManagementServicePortType">
        <wsdl:operation name="getAdminAdvisoryConfig">
            <wsdl:input message="ns:getAdminAdvisoryConfigRequest" wsaw:Action="urn:getAdminAdvisoryConfig"/>
            <wsdl:output message="ns:getAdminAdvisoryConfigResponse" wsaw:Action="urn:getAdminAdvisoryConfigResponse"/>
            <wsdl:fault message="ns:AdminAdvisoryManagementServiceIdentityMgtServiceException" name="AdminAdvisoryManagementServiceIdentityMgtServiceException" wsaw:Action="urn:getAdminAdvisoryConfigAdminAdvisoryManagementServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="saveAdminAdvisoryConfig">
            <wsdl:input message="ns:saveAdminAdvisoryConfigRequest" wsaw:Action="urn:saveAdminAdvisoryConfig"/>
            <wsdl:output message="ns:saveAdminAdvisoryConfigResponse" wsaw:Action="urn:saveAdminAdvisoryConfigResponse"/>
            <wsdl:fault message="ns:AdminAdvisoryManagementServiceIdentityMgtServiceException" name="AdminAdvisoryManagementServiceIdentityMgtServiceException" wsaw:Action="urn:saveAdminAdvisoryConfigAdminAdvisoryManagementServiceIdentityMgtServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdminAdvisoryManagementServiceSoap11Binding" type="ns:AdminAdvisoryManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAdminAdvisoryConfig">
            <soap:operation soapAction="urn:getAdminAdvisoryConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminAdvisoryManagementServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="AdminAdvisoryManagementServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveAdminAdvisoryConfig">
            <soap:operation soapAction="urn:saveAdminAdvisoryConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminAdvisoryManagementServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="AdminAdvisoryManagementServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AdminAdvisoryManagementServiceSoap12Binding" type="ns:AdminAdvisoryManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAdminAdvisoryConfig">
            <soap12:operation soapAction="urn:getAdminAdvisoryConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminAdvisoryManagementServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="AdminAdvisoryManagementServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="saveAdminAdvisoryConfig">
            <soap12:operation soapAction="urn:saveAdminAdvisoryConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminAdvisoryManagementServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="AdminAdvisoryManagementServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AdminAdvisoryManagementServiceHttpBinding" type="ns:AdminAdvisoryManagementServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAdminAdvisoryConfig">
            <http:operation location="getAdminAdvisoryConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveAdminAdvisoryConfig">
            <http:operation location="saveAdminAdvisoryConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AdminAdvisoryManagementService">
        <wsdl:port name="AdminAdvisoryManagementServiceHttpsSoap11Endpoint" binding="ns:AdminAdvisoryManagementServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/AdminAdvisoryManagementService.AdminAdvisoryManagementServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AdminAdvisoryManagementServiceHttpsSoap12Endpoint" binding="ns:AdminAdvisoryManagementServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/AdminAdvisoryManagementService.AdminAdvisoryManagementServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AdminAdvisoryManagementServiceHttpsEndpoint" binding="ns:AdminAdvisoryManagementServiceHttpBinding">
            <http:address location="https://localhost:9443/services/AdminAdvisoryManagementService.AdminAdvisoryManagementServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
