service-stubs/identity/org.wso2.carbon.identity.mgt.stub/src/main/resources/UserInformationRecoveryService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2358="http://beans.mgt.captcha.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.identity.carbon.wso2.org" xmlns:ax2355="http://base.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2361="http://dto.mgt.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2360="http://beans.mgt.identity.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2354="http://mgt.identity.carbon.wso2.org/xsd" xmlns:ax2362="http://mail.mgt.identity.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.identity.carbon.wso2.org">
    <wsdl:documentation>UserInformationRecoveryService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.mgt.captcha.carbon.wso2.org/xsd">
            <xs:complexType name="CaptchaInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="imagePath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="secretKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userAnswer" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2367="http://base.identity.carbon.wso2.org/xsd" xmlns:ax2366="http://dto.mgt.identity.carbon.wso2.org/xsd" xmlns:ax2357="http://mgt.identity.carbon.wso2.org/xsd" xmlns:ax2365="http://beans.mgt.identity.carbon.wso2.org/xsd" xmlns:ax2359="http://beans.mgt.captcha.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.identity.carbon.wso2.org">
            <xs:import namespace="http://mgt.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.mgt.captcha.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.mgt.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:element name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityMgtServiceException" nillable="true" type="ax2357:IdentityMgtServiceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="captcha" nillable="true" type="ax2358:CaptchaInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2360:VerificationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCaptcha">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCaptchaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2358:CaptchaInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendRecoveryNotification">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="notificationType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendRecoveryNotificationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2360:VerificationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyConfirmationCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="captcha" nillable="true" type="ax2358:CaptchaInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyConfirmationCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2360:VerificationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePassword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="confirmationCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePasswordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2360:VerificationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserChallengeQuestionIds">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="confirmation" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserChallengeQuestionIdsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2366:ChallengeQuestionIdsDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserChallengeQuestion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="confirmation" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="questionId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserChallengeQuestionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2366:UserChallengesDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserChallengeQuestions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="confirmation" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserChallengeQuestionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2366:UserChallengesCollectionDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyUserChallengeAnswer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="confirmation" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="questionId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyUserChallengeAnswerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2360:VerificationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyUserChallengeAnswers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="confirmation" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userChallengesDTOs" nillable="true" type="ax2366:UserChallengesDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyUserChallengeAnswersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2360:VerificationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllChallengeQuestions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllChallengeQuestionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2366:ChallengeQuestionDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UserInformationRecoveryServiceIdentityException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2367:IdentityException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserIdentitySupportedClaims">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="dialect" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserIdentitySupportedClaimsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2366:UserIdentityClaimDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claims" nillable="true" type="ax2366:UserIdentityClaimDTO"/>
                        <xs:element minOccurs="0" name="captcha" nillable="true" type="ax2358:CaptchaInfoBean"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyAccountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2360:VerificationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="claims" nillable="true" type="ax2366:UserIdentityClaimDTO"/>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2360:VerificationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="resendSignUpConfiramtionCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="profileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="resendSignUpConfiramtionCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2360:VerificationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="confirmUserSelfRegistration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="captcha" nillable="true" type="ax2358:CaptchaInfoBean"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="confirmUserSelfRegistrationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2360:VerificationBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2363="http://mail.mgt.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://mail.mgt.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="NotificationDataDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="notification" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="notificationAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="notificationCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="notificationSent" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="notificationSubject" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="notificationType" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transportHeaders" nillable="true" type="ax2363:TransportHeader"/>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ChallengeQuestionIdsDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ids" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserChallengesDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="order" type="xs:int"/>
                    <xs:element minOccurs="0" name="primary" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="question" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="verfied" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserChallengesCollectionDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="userChallengesDTOs" nillable="true" type="ax2361:UserChallengesDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ChallengeQuestionDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="order" type="xs:int"/>
                    <xs:element minOccurs="0" name="promoteQuestion" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="question" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="questionSetId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserIdentityClaimDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claimUri" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claimValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2364="http://dto.mgt.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.mgt.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://dto.mgt.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="VerificationBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="notificationData" nillable="true" type="ax2361:NotificationDataDTO"/>
                    <xs:element minOccurs="0" name="redirectPath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="verified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mail.mgt.identity.carbon.wso2.org/xsd">
            <xs:complexType name="TransportHeader">
                <xs:sequence>
                    <xs:element minOccurs="0" name="headerName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="headerValue" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2356="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="IdentityMgtServiceException">
                <xs:complexContent>
                    <xs:extension base="ax2356:IdentityException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllChallengeQuestionsRequest">
        <wsdl:part name="parameters" element="ns:getAllChallengeQuestions"/>
    </wsdl:message>
    <wsdl:message name="getAllChallengeQuestionsResponse">
        <wsdl:part name="parameters" element="ns:getAllChallengeQuestionsResponse"/>
    </wsdl:message>
    <wsdl:message name="UserInformationRecoveryServiceIdentityMgtServiceException">
        <wsdl:part name="parameters" element="ns:UserInformationRecoveryServiceIdentityMgtServiceException"/>
    </wsdl:message>
    <wsdl:message name="sendRecoveryNotificationRequest">
        <wsdl:part name="parameters" element="ns:sendRecoveryNotification"/>
    </wsdl:message>
    <wsdl:message name="sendRecoveryNotificationResponse">
        <wsdl:part name="parameters" element="ns:sendRecoveryNotificationResponse"/>
    </wsdl:message>
    <wsdl:message name="getCaptchaRequest">
        <wsdl:part name="parameters" element="ns:getCaptcha"/>
    </wsdl:message>
    <wsdl:message name="getCaptchaResponse">
        <wsdl:part name="parameters" element="ns:getCaptchaResponse"/>
    </wsdl:message>
    <wsdl:message name="verifyConfirmationCodeRequest">
        <wsdl:part name="parameters" element="ns:verifyConfirmationCode"/>
    </wsdl:message>
    <wsdl:message name="verifyConfirmationCodeResponse">
        <wsdl:part name="parameters" element="ns:verifyConfirmationCodeResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserChallengeQuestionIdsRequest">
        <wsdl:part name="parameters" element="ns:getUserChallengeQuestionIds"/>
    </wsdl:message>
    <wsdl:message name="getUserChallengeQuestionIdsResponse">
        <wsdl:part name="parameters" element="ns:getUserChallengeQuestionIdsResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserChallengeQuestionRequest">
        <wsdl:part name="parameters" element="ns:getUserChallengeQuestion"/>
    </wsdl:message>
    <wsdl:message name="getUserChallengeQuestionResponse">
        <wsdl:part name="parameters" element="ns:getUserChallengeQuestionResponse"/>
    </wsdl:message>
    <wsdl:message name="confirmUserSelfRegistrationRequest">
        <wsdl:part name="parameters" element="ns:confirmUserSelfRegistration"/>
    </wsdl:message>
    <wsdl:message name="confirmUserSelfRegistrationResponse">
        <wsdl:part name="parameters" element="ns:confirmUserSelfRegistrationResponse"/>
    </wsdl:message>
    <wsdl:message name="verifyUserChallengeAnswerRequest">
        <wsdl:part name="parameters" element="ns:verifyUserChallengeAnswer"/>
    </wsdl:message>
    <wsdl:message name="verifyUserChallengeAnswerResponse">
        <wsdl:part name="parameters" element="ns:verifyUserChallengeAnswerResponse"/>
    </wsdl:message>
    <wsdl:message name="resendSignUpConfiramtionCodeRequest">
        <wsdl:part name="parameters" element="ns:resendSignUpConfiramtionCode"/>
    </wsdl:message>
    <wsdl:message name="resendSignUpConfiramtionCodeResponse">
        <wsdl:part name="parameters" element="ns:resendSignUpConfiramtionCodeResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserChallengeQuestionsRequest">
        <wsdl:part name="parameters" element="ns:getUserChallengeQuestions"/>
    </wsdl:message>
    <wsdl:message name="getUserChallengeQuestionsResponse">
        <wsdl:part name="parameters" element="ns:getUserChallengeQuestionsResponse"/>
    </wsdl:message>
    <wsdl:message name="verifyUserChallengeAnswersRequest">
        <wsdl:part name="parameters" element="ns:verifyUserChallengeAnswers"/>
    </wsdl:message>
    <wsdl:message name="verifyUserChallengeAnswersResponse">
        <wsdl:part name="parameters" element="ns:verifyUserChallengeAnswersResponse"/>
    </wsdl:message>
    <wsdl:message name="updatePasswordRequest">
        <wsdl:part name="parameters" element="ns:updatePassword"/>
    </wsdl:message>
    <wsdl:message name="updatePasswordResponse">
        <wsdl:part name="parameters" element="ns:updatePasswordResponse"/>
    </wsdl:message>
    <wsdl:message name="registerUserRequest">
        <wsdl:part name="parameters" element="ns:registerUser"/>
    </wsdl:message>
    <wsdl:message name="registerUserResponse">
        <wsdl:part name="parameters" element="ns:registerUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserIdentitySupportedClaimsRequest">
        <wsdl:part name="parameters" element="ns:getUserIdentitySupportedClaims"/>
    </wsdl:message>
    <wsdl:message name="getUserIdentitySupportedClaimsResponse">
        <wsdl:part name="parameters" element="ns:getUserIdentitySupportedClaimsResponse"/>
    </wsdl:message>
    <wsdl:message name="UserInformationRecoveryServiceIdentityException">
        <wsdl:part name="parameters" element="ns:UserInformationRecoveryServiceIdentityException"/>
    </wsdl:message>
    <wsdl:message name="verifyAccountRequest">
        <wsdl:part name="parameters" element="ns:verifyAccount"/>
    </wsdl:message>
    <wsdl:message name="verifyAccountResponse">
        <wsdl:part name="parameters" element="ns:verifyAccountResponse"/>
    </wsdl:message>
    <wsdl:message name="verifyUserRequest">
        <wsdl:part name="parameters" element="ns:verifyUser"/>
    </wsdl:message>
    <wsdl:message name="verifyUserResponse">
        <wsdl:part name="parameters" element="ns:verifyUserResponse"/>
    </wsdl:message>
    <wsdl:portType name="UserInformationRecoveryServicePortType">
        <wsdl:operation name="getAllChallengeQuestions">
            <wsdl:input message="ns:getAllChallengeQuestionsRequest" wsaw:Action="urn:getAllChallengeQuestions"/>
            <wsdl:output message="ns:getAllChallengeQuestionsResponse" wsaw:Action="urn:getAllChallengeQuestionsResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:getAllChallengeQuestionsUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="sendRecoveryNotification">
            <wsdl:input message="ns:sendRecoveryNotificationRequest" wsaw:Action="urn:sendRecoveryNotification"/>
            <wsdl:output message="ns:sendRecoveryNotificationResponse" wsaw:Action="urn:sendRecoveryNotificationResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:sendRecoveryNotificationUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getCaptcha">
            <wsdl:input message="ns:getCaptchaRequest" wsaw:Action="urn:getCaptcha"/>
            <wsdl:output message="ns:getCaptchaResponse" wsaw:Action="urn:getCaptchaResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:getCaptchaUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="verifyConfirmationCode">
            <wsdl:input message="ns:verifyConfirmationCodeRequest" wsaw:Action="urn:verifyConfirmationCode"/>
            <wsdl:output message="ns:verifyConfirmationCodeResponse" wsaw:Action="urn:verifyConfirmationCodeResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:verifyConfirmationCodeUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestionIds">
            <wsdl:input message="ns:getUserChallengeQuestionIdsRequest" wsaw:Action="urn:getUserChallengeQuestionIds"/>
            <wsdl:output message="ns:getUserChallengeQuestionIdsResponse" wsaw:Action="urn:getUserChallengeQuestionIdsResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:getUserChallengeQuestionIdsUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestion">
            <wsdl:input message="ns:getUserChallengeQuestionRequest" wsaw:Action="urn:getUserChallengeQuestion"/>
            <wsdl:output message="ns:getUserChallengeQuestionResponse" wsaw:Action="urn:getUserChallengeQuestionResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:getUserChallengeQuestionUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="confirmUserSelfRegistration">
            <wsdl:input message="ns:confirmUserSelfRegistrationRequest" wsaw:Action="urn:confirmUserSelfRegistration"/>
            <wsdl:output message="ns:confirmUserSelfRegistrationResponse" wsaw:Action="urn:confirmUserSelfRegistrationResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:confirmUserSelfRegistrationUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="verifyUserChallengeAnswer">
            <wsdl:input message="ns:verifyUserChallengeAnswerRequest" wsaw:Action="urn:verifyUserChallengeAnswer"/>
            <wsdl:output message="ns:verifyUserChallengeAnswerResponse" wsaw:Action="urn:verifyUserChallengeAnswerResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:verifyUserChallengeAnswerUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="resendSignUpConfiramtionCode">
            <wsdl:input message="ns:resendSignUpConfiramtionCodeRequest" wsaw:Action="urn:resendSignUpConfiramtionCode"/>
            <wsdl:output message="ns:resendSignUpConfiramtionCodeResponse" wsaw:Action="urn:resendSignUpConfiramtionCodeResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:resendSignUpConfiramtionCodeUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestions">
            <wsdl:input message="ns:getUserChallengeQuestionsRequest" wsaw:Action="urn:getUserChallengeQuestions"/>
            <wsdl:output message="ns:getUserChallengeQuestionsResponse" wsaw:Action="urn:getUserChallengeQuestionsResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:getUserChallengeQuestionsUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="verifyUserChallengeAnswers">
            <wsdl:input message="ns:verifyUserChallengeAnswersRequest" wsaw:Action="urn:verifyUserChallengeAnswers"/>
            <wsdl:output message="ns:verifyUserChallengeAnswersResponse" wsaw:Action="urn:verifyUserChallengeAnswersResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:verifyUserChallengeAnswersUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updatePassword">
            <wsdl:input message="ns:updatePasswordRequest" wsaw:Action="urn:updatePassword"/>
            <wsdl:output message="ns:updatePasswordResponse" wsaw:Action="urn:updatePasswordResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:updatePasswordUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="registerUser">
            <wsdl:input message="ns:registerUserRequest" wsaw:Action="urn:registerUser"/>
            <wsdl:output message="ns:registerUserResponse" wsaw:Action="urn:registerUserResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:registerUserUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getUserIdentitySupportedClaims">
            <wsdl:input message="ns:getUserIdentitySupportedClaimsRequest" wsaw:Action="urn:getUserIdentitySupportedClaims"/>
            <wsdl:output message="ns:getUserIdentitySupportedClaimsResponse" wsaw:Action="urn:getUserIdentitySupportedClaimsResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityException" name="UserInformationRecoveryServiceIdentityException" wsaw:Action="urn:getUserIdentitySupportedClaimsUserInformationRecoveryServiceIdentityException"/>
        </wsdl:operation>
        <wsdl:operation name="verifyAccount">
            <wsdl:input message="ns:verifyAccountRequest" wsaw:Action="urn:verifyAccount"/>
            <wsdl:output message="ns:verifyAccountResponse" wsaw:Action="urn:verifyAccountResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:verifyAccountUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="verifyUser">
            <wsdl:input message="ns:verifyUserRequest" wsaw:Action="urn:verifyUser"/>
            <wsdl:output message="ns:verifyUserResponse" wsaw:Action="urn:verifyUserResponse"/>
            <wsdl:fault message="ns:UserInformationRecoveryServiceIdentityMgtServiceException" name="UserInformationRecoveryServiceIdentityMgtServiceException" wsaw:Action="urn:verifyUserUserInformationRecoveryServiceIdentityMgtServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserInformationRecoveryServiceSoap11Binding" type="ns:UserInformationRecoveryServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sendRecoveryNotification">
            <soap:operation soapAction="urn:sendRecoveryNotification" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllChallengeQuestions">
            <soap:operation soapAction="urn:getAllChallengeQuestions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCaptcha">
            <soap:operation soapAction="urn:getCaptcha" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyConfirmationCode">
            <soap:operation soapAction="urn:verifyConfirmationCode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestionIds">
            <soap:operation soapAction="urn:getUserChallengeQuestionIds" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestion">
            <soap:operation soapAction="urn:getUserChallengeQuestion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="confirmUserSelfRegistration">
            <soap:operation soapAction="urn:confirmUserSelfRegistration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyUserChallengeAnswer">
            <soap:operation soapAction="urn:verifyUserChallengeAnswer" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestions">
            <soap:operation soapAction="urn:getUserChallengeQuestions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="resendSignUpConfiramtionCode">
            <soap:operation soapAction="urn:resendSignUpConfiramtionCode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyUserChallengeAnswers">
            <soap:operation soapAction="urn:verifyUserChallengeAnswers" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updatePassword">
            <soap:operation soapAction="urn:updatePassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserIdentitySupportedClaims">
            <soap:operation soapAction="urn:getUserIdentitySupportedClaims" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerUser">
            <soap:operation soapAction="urn:registerUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyUser">
            <soap:operation soapAction="urn:verifyUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyAccount">
            <soap:operation soapAction="urn:verifyAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserInformationRecoveryServiceSoap12Binding" type="ns:UserInformationRecoveryServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sendRecoveryNotification">
            <soap12:operation soapAction="urn:sendRecoveryNotification" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllChallengeQuestions">
            <soap12:operation soapAction="urn:getAllChallengeQuestions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCaptcha">
            <soap12:operation soapAction="urn:getCaptcha" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyConfirmationCode">
            <soap12:operation soapAction="urn:verifyConfirmationCode" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestionIds">
            <soap12:operation soapAction="urn:getUserChallengeQuestionIds" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestion">
            <soap12:operation soapAction="urn:getUserChallengeQuestion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="confirmUserSelfRegistration">
            <soap12:operation soapAction="urn:confirmUserSelfRegistration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyUserChallengeAnswer">
            <soap12:operation soapAction="urn:verifyUserChallengeAnswer" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestions">
            <soap12:operation soapAction="urn:getUserChallengeQuestions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="resendSignUpConfiramtionCode">
            <soap12:operation soapAction="urn:resendSignUpConfiramtionCode" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyUserChallengeAnswers">
            <soap12:operation soapAction="urn:verifyUserChallengeAnswers" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updatePassword">
            <soap12:operation soapAction="urn:updatePassword" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUserIdentitySupportedClaims">
            <soap12:operation soapAction="urn:getUserIdentitySupportedClaims" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="registerUser">
            <soap12:operation soapAction="urn:registerUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyUser">
            <soap12:operation soapAction="urn:verifyUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyAccount">
            <soap12:operation soapAction="urn:verifyAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserInformationRecoveryServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserInformationRecoveryServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserInformationRecoveryServiceHttpBinding" type="ns:UserInformationRecoveryServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="sendRecoveryNotification">
            <http:operation location="sendRecoveryNotification"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllChallengeQuestions">
            <http:operation location="getAllChallengeQuestions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCaptcha">
            <http:operation location="getCaptcha"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verifyConfirmationCode">
            <http:operation location="verifyConfirmationCode"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestionIds">
            <http:operation location="getUserChallengeQuestionIds"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestion">
            <http:operation location="getUserChallengeQuestion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="confirmUserSelfRegistration">
            <http:operation location="confirmUserSelfRegistration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verifyUserChallengeAnswer">
            <http:operation location="verifyUserChallengeAnswer"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserChallengeQuestions">
            <http:operation location="getUserChallengeQuestions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="resendSignUpConfiramtionCode">
            <http:operation location="resendSignUpConfiramtionCode"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verifyUserChallengeAnswers">
            <http:operation location="verifyUserChallengeAnswers"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updatePassword">
            <http:operation location="updatePassword"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserIdentitySupportedClaims">
            <http:operation location="getUserIdentitySupportedClaims"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registerUser">
            <http:operation location="registerUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verifyUser">
            <http:operation location="verifyUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verifyAccount">
            <http:operation location="verifyAccount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserInformationRecoveryService">
        <wsdl:port name="UserInformationRecoveryServiceHttpsSoap11Endpoint" binding="ns:UserInformationRecoveryServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/UserInformationRecoveryService.UserInformationRecoveryServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserInformationRecoveryServiceHttpsSoap12Endpoint" binding="ns:UserInformationRecoveryServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/UserInformationRecoveryService.UserInformationRecoveryServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserInformationRecoveryServiceHttpsEndpoint" binding="ns:UserInformationRecoveryServiceHttpBinding">
            <http:address location="https://localhost:9443/services/UserInformationRecoveryService.UserInformationRecoveryServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>