service-stubs/identity/org.wso2.carbon.identity.mgt.stub/src/main/resources/UserIdentityManagementAdminService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2375="http://base.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.identity.carbon.wso2.org" xmlns:ax2374="http://mgt.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2378="http://dto.mgt.identity.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.identity.carbon.wso2.org">
    <wsdl:documentation>UserIdentityManagementAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2379="http://dto.mgt.identity.carbon.wso2.org/xsd" xmlns:ax2377="http://mgt.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.identity.carbon.wso2.org">
            <xs:import namespace="http://mgt.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.identity.carbon.wso2.org/xsd"/>
            <xs:element name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityMgtServiceException" nillable="true" type="ax2374:IdentityMgtServiceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllChallengeQuestions">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllChallengeQuestionsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2379:ChallengeQuestionDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unlockUserAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="notificationType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="lockUserAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableUserAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="notificationType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableUserAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="notificationType" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="resetUserPassword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getChallengeQuestionsOfUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getChallengeQuestionsOfUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2379:UserChallengesDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPromotedUserChallenge">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPromotedUserChallengeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2379:UserChallengesSetDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setChallengeQuestions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="challengeQuestionDTOs" nillable="true" type="ax2379:ChallengeQuestionDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setChallengeQuestionsOfUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="challengesDTOs" nillable="true" type="ax2379:UserChallengesDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateUserIdentityClaims">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="userIdentityClaims" nillable="true" type="ax2379:UserIdentityClaimDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUserIdentityClaims">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUserIdentityClaimsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2379:UserIdentityClaimDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeUserPassword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isReadOnlyUserStore">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isReadOnlyUserStoreResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.identity.carbon.wso2.org/xsd">
            <xs:complexType name="ChallengeQuestionDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="order" type="xs:int"/>
                    <xs:element minOccurs="0" name="promoteQuestion" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="question" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="questionSetId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserChallengesDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="error" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="order" type="xs:int"/>
                    <xs:element minOccurs="0" name="primary" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="question" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="verfied" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserChallengesSetDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="challengesDTOs" nillable="true" type="ax2378:UserChallengesDTO"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserIdentityClaimDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="claimUri" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="claimValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2376="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="IdentityMgtServiceException">
                <xs:complexContent>
                    <xs:extension base="ax2375:IdentityException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllChallengeQuestionsRequest">
        <wsdl:part name="parameters" element="ns:getAllChallengeQuestions"/>
    </wsdl:message>
    <wsdl:message name="getAllChallengeQuestionsResponse">
        <wsdl:part name="parameters" element="ns:getAllChallengeQuestionsResponse"/>
    </wsdl:message>
    <wsdl:message name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
        <wsdl:part name="parameters" element="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
    </wsdl:message>
    <wsdl:message name="getChallengeQuestionsOfUserRequest">
        <wsdl:part name="parameters" element="ns:getChallengeQuestionsOfUser"/>
    </wsdl:message>
    <wsdl:message name="getChallengeQuestionsOfUserResponse">
        <wsdl:part name="parameters" element="ns:getChallengeQuestionsOfUserResponse"/>
    </wsdl:message>
    <wsdl:message name="disableUserAccountRequest">
        <wsdl:part name="parameters" element="ns:disableUserAccount"/>
    </wsdl:message>
    <wsdl:message name="disableUserAccountResponse"/>
    <wsdl:message name="isReadOnlyUserStoreRequest">
        <wsdl:part name="parameters" element="ns:isReadOnlyUserStore"/>
    </wsdl:message>
    <wsdl:message name="isReadOnlyUserStoreResponse">
        <wsdl:part name="parameters" element="ns:isReadOnlyUserStoreResponse"/>
    </wsdl:message>
    <wsdl:message name="updateUserIdentityClaimsRequest">
        <wsdl:part name="parameters" element="ns:updateUserIdentityClaims"/>
    </wsdl:message>
    <wsdl:message name="updateUserIdentityClaimsResponse"/>
    <wsdl:message name="setChallengeQuestionsOfUserRequest">
        <wsdl:part name="parameters" element="ns:setChallengeQuestionsOfUser"/>
    </wsdl:message>
    <wsdl:message name="setChallengeQuestionsOfUserResponse"/>
    <wsdl:message name="deleteUserRequest">
        <wsdl:part name="parameters" element="ns:deleteUser"/>
    </wsdl:message>
    <wsdl:message name="deleteUserResponse"/>
    <wsdl:message name="getAllPromotedUserChallengeRequest">
        <wsdl:part name="parameters" element="ns:getAllPromotedUserChallenge"/>
    </wsdl:message>
    <wsdl:message name="getAllPromotedUserChallengeResponse">
        <wsdl:part name="parameters" element="ns:getAllPromotedUserChallengeResponse"/>
    </wsdl:message>
    <wsdl:message name="setChallengeQuestionsRequest">
        <wsdl:part name="parameters" element="ns:setChallengeQuestions"/>
    </wsdl:message>
    <wsdl:message name="setChallengeQuestionsResponse"/>
    <wsdl:message name="getAllUserIdentityClaimsRequest">
        <wsdl:part name="parameters" element="ns:getAllUserIdentityClaims"/>
    </wsdl:message>
    <wsdl:message name="getAllUserIdentityClaimsResponse">
        <wsdl:part name="parameters" element="ns:getAllUserIdentityClaimsResponse"/>
    </wsdl:message>
    <wsdl:message name="unlockUserAccountRequest">
        <wsdl:part name="parameters" element="ns:unlockUserAccount"/>
    </wsdl:message>
    <wsdl:message name="unlockUserAccountResponse"/>
    <wsdl:message name="resetUserPasswordRequest">
        <wsdl:part name="parameters" element="ns:resetUserPassword"/>
    </wsdl:message>
    <wsdl:message name="resetUserPasswordResponse"/>
    <wsdl:message name="enableUserAccountRequest">
        <wsdl:part name="parameters" element="ns:enableUserAccount"/>
    </wsdl:message>
    <wsdl:message name="enableUserAccountResponse"/>
    <wsdl:message name="lockUserAccountRequest">
        <wsdl:part name="parameters" element="ns:lockUserAccount"/>
    </wsdl:message>
    <wsdl:message name="lockUserAccountResponse"/>
    <wsdl:message name="changeUserPasswordRequest">
        <wsdl:part name="parameters" element="ns:changeUserPassword"/>
    </wsdl:message>
    <wsdl:message name="changeUserPasswordResponse"/>
    <wsdl:portType name="UserIdentityManagementAdminServicePortType">
        <wsdl:operation name="getAllChallengeQuestions">
            <wsdl:input message="ns:getAllChallengeQuestionsRequest" wsaw:Action="urn:getAllChallengeQuestions"/>
            <wsdl:output message="ns:getAllChallengeQuestionsResponse" wsaw:Action="urn:getAllChallengeQuestionsResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:getAllChallengeQuestionsUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getChallengeQuestionsOfUser">
            <wsdl:input message="ns:getChallengeQuestionsOfUserRequest" wsaw:Action="urn:getChallengeQuestionsOfUser"/>
            <wsdl:output message="ns:getChallengeQuestionsOfUserResponse" wsaw:Action="urn:getChallengeQuestionsOfUserResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:getChallengeQuestionsOfUserUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="disableUserAccount">
            <wsdl:input message="ns:disableUserAccountRequest" wsaw:Action="urn:disableUserAccount"/>
            <wsdl:output message="ns:disableUserAccountResponse" wsaw:Action="urn:disableUserAccountResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:disableUserAccountUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="isReadOnlyUserStore">
            <wsdl:input message="ns:isReadOnlyUserStoreRequest" wsaw:Action="urn:isReadOnlyUserStore"/>
            <wsdl:output message="ns:isReadOnlyUserStoreResponse" wsaw:Action="urn:isReadOnlyUserStoreResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:isReadOnlyUserStoreUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateUserIdentityClaims">
            <wsdl:input message="ns:updateUserIdentityClaimsRequest" wsaw:Action="urn:updateUserIdentityClaims"/>
            <wsdl:output message="ns:updateUserIdentityClaimsResponse" wsaw:Action="urn:updateUserIdentityClaimsResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:updateUserIdentityClaimsUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="setChallengeQuestionsOfUser">
            <wsdl:input message="ns:setChallengeQuestionsOfUserRequest" wsaw:Action="urn:setChallengeQuestionsOfUser"/>
            <wsdl:output message="ns:setChallengeQuestionsOfUserResponse" wsaw:Action="urn:setChallengeQuestionsOfUserResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:setChallengeQuestionsOfUserUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <wsdl:input message="ns:deleteUserRequest" wsaw:Action="urn:deleteUser"/>
            <wsdl:output message="ns:deleteUserResponse" wsaw:Action="urn:deleteUserResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:deleteUserUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllPromotedUserChallenge">
            <wsdl:input message="ns:getAllPromotedUserChallengeRequest" wsaw:Action="urn:getAllPromotedUserChallenge"/>
            <wsdl:output message="ns:getAllPromotedUserChallengeResponse" wsaw:Action="urn:getAllPromotedUserChallengeResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:getAllPromotedUserChallengeUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="setChallengeQuestions">
            <wsdl:input message="ns:setChallengeQuestionsRequest" wsaw:Action="urn:setChallengeQuestions"/>
            <wsdl:output message="ns:setChallengeQuestionsResponse" wsaw:Action="urn:setChallengeQuestionsResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:setChallengeQuestionsUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllUserIdentityClaims">
            <wsdl:input message="ns:getAllUserIdentityClaimsRequest" wsaw:Action="urn:getAllUserIdentityClaims"/>
            <wsdl:output message="ns:getAllUserIdentityClaimsResponse" wsaw:Action="urn:getAllUserIdentityClaimsResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:getAllUserIdentityClaimsUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="unlockUserAccount">
            <wsdl:input message="ns:unlockUserAccountRequest" wsaw:Action="urn:unlockUserAccount"/>
            <wsdl:output message="ns:unlockUserAccountResponse" wsaw:Action="urn:unlockUserAccountResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:unlockUserAccountUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="resetUserPassword">
            <wsdl:input message="ns:resetUserPasswordRequest" wsaw:Action="urn:resetUserPassword"/>
            <wsdl:output message="ns:resetUserPasswordResponse" wsaw:Action="urn:resetUserPasswordResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:resetUserPasswordUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="enableUserAccount">
            <wsdl:input message="ns:enableUserAccountRequest" wsaw:Action="urn:enableUserAccount"/>
            <wsdl:output message="ns:enableUserAccountResponse" wsaw:Action="urn:enableUserAccountResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:enableUserAccountUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="lockUserAccount">
            <wsdl:input message="ns:lockUserAccountRequest" wsaw:Action="urn:lockUserAccount"/>
            <wsdl:output message="ns:lockUserAccountResponse" wsaw:Action="urn:lockUserAccountResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:lockUserAccountUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="changeUserPassword">
            <wsdl:input message="ns:changeUserPasswordRequest" wsaw:Action="urn:changeUserPassword"/>
            <wsdl:output message="ns:changeUserPasswordResponse" wsaw:Action="urn:changeUserPasswordResponse"/>
            <wsdl:fault message="ns:UserIdentityManagementAdminServiceIdentityMgtServiceException" name="UserIdentityManagementAdminServiceIdentityMgtServiceException" wsaw:Action="urn:changeUserPasswordUserIdentityManagementAdminServiceIdentityMgtServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserIdentityManagementAdminServiceSoap11Binding" type="ns:UserIdentityManagementAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getChallengeQuestionsOfUser">
            <soap:operation soapAction="urn:getChallengeQuestionsOfUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllChallengeQuestions">
            <soap:operation soapAction="urn:getAllChallengeQuestions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableUserAccount">
            <soap:operation soapAction="urn:disableUserAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isReadOnlyUserStore">
            <soap:operation soapAction="urn:isReadOnlyUserStore" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUserIdentityClaims">
            <soap:operation soapAction="urn:updateUserIdentityClaims" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setChallengeQuestionsOfUser">
            <soap:operation soapAction="urn:setChallengeQuestionsOfUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <soap:operation soapAction="urn:deleteUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPromotedUserChallenge">
            <soap:operation soapAction="urn:getAllPromotedUserChallenge" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setChallengeQuestions">
            <soap:operation soapAction="urn:setChallengeQuestions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllUserIdentityClaims">
            <soap:operation soapAction="urn:getAllUserIdentityClaims" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="unlockUserAccount">
            <soap:operation soapAction="urn:unlockUserAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="resetUserPassword">
            <soap:operation soapAction="urn:resetUserPassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeUserPassword">
            <soap:operation soapAction="urn:changeUserPassword" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="lockUserAccount">
            <soap:operation soapAction="urn:lockUserAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableUserAccount">
            <soap:operation soapAction="urn:enableUserAccount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserIdentityManagementAdminServiceSoap12Binding" type="ns:UserIdentityManagementAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getChallengeQuestionsOfUser">
            <soap12:operation soapAction="urn:getChallengeQuestionsOfUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllChallengeQuestions">
            <soap12:operation soapAction="urn:getAllChallengeQuestions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disableUserAccount">
            <soap12:operation soapAction="urn:disableUserAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isReadOnlyUserStore">
            <soap12:operation soapAction="urn:isReadOnlyUserStore" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUserIdentityClaims">
            <soap12:operation soapAction="urn:updateUserIdentityClaims" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setChallengeQuestionsOfUser">
            <soap12:operation soapAction="urn:setChallengeQuestionsOfUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <soap12:operation soapAction="urn:deleteUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPromotedUserChallenge">
            <soap12:operation soapAction="urn:getAllPromotedUserChallenge" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setChallengeQuestions">
            <soap12:operation soapAction="urn:setChallengeQuestions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllUserIdentityClaims">
            <soap12:operation soapAction="urn:getAllUserIdentityClaims" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="unlockUserAccount">
            <soap12:operation soapAction="urn:unlockUserAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="resetUserPassword">
            <soap12:operation soapAction="urn:resetUserPassword" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeUserPassword">
            <soap12:operation soapAction="urn:changeUserPassword" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="lockUserAccount">
            <soap12:operation soapAction="urn:lockUserAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="enableUserAccount">
            <soap12:operation soapAction="urn:enableUserAccount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserIdentityManagementAdminServiceIdentityMgtServiceException">
                <soap12:fault use="literal" name="UserIdentityManagementAdminServiceIdentityMgtServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UserIdentityManagementAdminServiceHttpBinding" type="ns:UserIdentityManagementAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getChallengeQuestionsOfUser">
            <http:operation location="getChallengeQuestionsOfUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllChallengeQuestions">
            <http:operation location="getAllChallengeQuestions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableUserAccount">
            <http:operation location="disableUserAccount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isReadOnlyUserStore">
            <http:operation location="isReadOnlyUserStore"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateUserIdentityClaims">
            <http:operation location="updateUserIdentityClaims"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setChallengeQuestionsOfUser">
            <http:operation location="setChallengeQuestionsOfUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <http:operation location="deleteUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllPromotedUserChallenge">
            <http:operation location="getAllPromotedUserChallenge"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setChallengeQuestions">
            <http:operation location="setChallengeQuestions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllUserIdentityClaims">
            <http:operation location="getAllUserIdentityClaims"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unlockUserAccount">
            <http:operation location="unlockUserAccount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="resetUserPassword">
            <http:operation location="resetUserPassword"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeUserPassword">
            <http:operation location="changeUserPassword"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="lockUserAccount">
            <http:operation location="lockUserAccount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableUserAccount">
            <http:operation location="enableUserAccount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserIdentityManagementAdminService">
        <wsdl:port name="UserIdentityManagementAdminServiceHttpsSoap11Endpoint" binding="ns:UserIdentityManagementAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/UserIdentityManagementAdminService.UserIdentityManagementAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserIdentityManagementAdminServiceHttpsSoap12Endpoint" binding="ns:UserIdentityManagementAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/UserIdentityManagementAdminService.UserIdentityManagementAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="UserIdentityManagementAdminServiceHttpsEndpoint" binding="ns:UserIdentityManagementAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/UserIdentityManagementAdminService.UserIdentityManagementAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>