service-stubs/identity/org.wso2.carbon.identity.governance.stub/src/main/resources/IdentityGovernanceAdminService.wsdl

<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2347="http://governance.identity.carbon.wso2.org/xsd" xmlns:ns="http://governance.identity.carbon.wso2.org" xmlns:ax2349="http://bean.governance.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2350="http://model.common.application.identity.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://governance.identity.carbon.wso2.org">
    <wsdl:documentation>IdentityGovernanceAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://governance.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityGovernanceException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2348="http://governance.identity.carbon.wso2.org/xsd" xmlns:ax2352="http://bean.governance.identity.carbon.wso2.org/xsd" xmlns:ax2353="http://model.common.application.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://governance.identity.carbon.wso2.org">
            <xs:import namespace="http://governance.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://bean.governance.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://model.common.application.identity.carbon.wso2.org/xsd"/>
            <xs:element name="IdentityGovernanceAdminServiceIdentityGovernanceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityGovernanceException" nillable="true" type="ax2347:IdentityGovernanceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConnectorList">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConnectorListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2349:ConnectorConfig"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateConfigurations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="configurations" nillable="true" type="ax2350:Property"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.common.application.identity.carbon.wso2.org/xsd">
            <xs:complexType name="Property">
                <xs:sequence>
                    <xs:element minOccurs="0" name="advanced" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="confidential" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayOrder" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2351="http://model.common.application.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bean.governance.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://model.common.application.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="ConnectorConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="category" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="friendlyName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="order" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="ax2350:Property"/>
                    <xs:element minOccurs="0" name="subCategory" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateConfigurationsRequest">
        <wsdl:part name="parameters" element="ns:updateConfigurations"/>
    </wsdl:message>
    <wsdl:message name="updateConfigurationsResponse"/>
    <wsdl:message name="IdentityGovernanceAdminServiceIdentityGovernanceException">
        <wsdl:part name="parameters" element="ns:IdentityGovernanceAdminServiceIdentityGovernanceException"/>
    </wsdl:message>
    <wsdl:message name="getConnectorListRequest">
        <wsdl:part name="parameters" element="ns:getConnectorList"/>
    </wsdl:message>
    <wsdl:message name="getConnectorListResponse">
        <wsdl:part name="parameters" element="ns:getConnectorListResponse"/>
    </wsdl:message>
    <wsdl:portType name="IdentityGovernanceAdminServicePortType">
        <wsdl:operation name="updateConfigurations">
            <wsdl:input message="ns:updateConfigurationsRequest" wsaw:Action="urn:updateConfigurations"/>
            <wsdl:output message="ns:updateConfigurationsResponse" wsaw:Action="urn:updateConfigurationsResponse"/>
            <wsdl:fault message="ns:IdentityGovernanceAdminServiceIdentityGovernanceException" name="IdentityGovernanceAdminServiceIdentityGovernanceException" wsaw:Action="urn:updateConfigurationsIdentityGovernanceAdminServiceIdentityGovernanceException"/>
        </wsdl:operation>
        <wsdl:operation name="getConnectorList">
            <wsdl:input message="ns:getConnectorListRequest" wsaw:Action="urn:getConnectorList"/>
            <wsdl:output message="ns:getConnectorListResponse" wsaw:Action="urn:getConnectorListResponse"/>
            <wsdl:fault message="ns:IdentityGovernanceAdminServiceIdentityGovernanceException" name="IdentityGovernanceAdminServiceIdentityGovernanceException" wsaw:Action="urn:getConnectorListIdentityGovernanceAdminServiceIdentityGovernanceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityGovernanceAdminServiceSoap11Binding" type="ns:IdentityGovernanceAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateConfigurations">
            <soap:operation soapAction="urn:updateConfigurations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityGovernanceAdminServiceIdentityGovernanceException">
                <soap:fault use="literal" name="IdentityGovernanceAdminServiceIdentityGovernanceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConnectorList">
            <soap:operation soapAction="urn:getConnectorList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityGovernanceAdminServiceIdentityGovernanceException">
                <soap:fault use="literal" name="IdentityGovernanceAdminServiceIdentityGovernanceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityGovernanceAdminServiceSoap12Binding" type="ns:IdentityGovernanceAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateConfigurations">
            <soap12:operation soapAction="urn:updateConfigurations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityGovernanceAdminServiceIdentityGovernanceException">
                <soap12:fault use="literal" name="IdentityGovernanceAdminServiceIdentityGovernanceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getConnectorList">
            <soap12:operation soapAction="urn:getConnectorList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityGovernanceAdminServiceIdentityGovernanceException">
                <soap12:fault use="literal" name="IdentityGovernanceAdminServiceIdentityGovernanceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityGovernanceAdminServiceHttpBinding" type="ns:IdentityGovernanceAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="updateConfigurations">
            <http:operation location="updateConfigurations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConnectorList">
            <http:operation location="getConnectorList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityGovernanceAdminService">
        <wsdl:port name="IdentityGovernanceAdminServiceHttpsSoap11Endpoint" binding="ns:IdentityGovernanceAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentityGovernanceAdminService.IdentityGovernanceAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityGovernanceAdminServiceHttpsSoap12Endpoint" binding="ns:IdentityGovernanceAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentityGovernanceAdminService.IdentityGovernanceAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityGovernanceAdminServiceHttpsEndpoint" binding="ns:IdentityGovernanceAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentityGovernanceAdminService.IdentityGovernanceAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
