service-stubs/identity/org.wso2.carbon.identity.workflow.mgt.stub/src/main/resources/WorkflowAdminService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2482="http://metadata.bean.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:ax2481="http://dto.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2484="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://mgt.workflow.identity.carbon.wso2.org" xmlns:ax2478="http://base.identity.carbon.wso2.org/xsd" xmlns:ax2477="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.workflow.identity.carbon.wso2.org">
    <wsdl:documentation>WorkflowAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2479="http://base.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="WorkflowException">
                <xs:complexContent>
                    <xs:extension base="ax2479:IdentityException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:complexType name="Parameter">
                <xs:sequence>
                    <xs:element minOccurs="0" name="holder" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paramName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paramValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="qName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkflowRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="createdAt" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="createdBy" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestParams" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="updatedAt" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkflowRequestAssociation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lastUpdatedTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://metadata.bean.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:complexType name="ParametersMetaData">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parameterMetaData" nillable="true" type="ax2482:ParameterMetaData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ParameterMetaData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customInputType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="inputData" nillable="true" type="ax2482:InputData"/>
                    <xs:element minOccurs="0" name="inputType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="isInputDataRequired" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="isRequired" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="regExForValidate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="validate" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InputData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="mapType" nillable="true" type="ax2482:MapType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MapType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="ax2482:Item"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Item">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2483="http://metadata.bean.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:ax2485="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://metadata.bean.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:complexType name="WorkflowWizard">
                <xs:sequence>
                    <xs:element minOccurs="0" name="template" nillable="true" type="ax2481:Template"/>
                    <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="templateParameters" nillable="true" type="ax2484:Parameter"/>
                    <xs:element minOccurs="0" name="workflowDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowImpl" nillable="true" type="ax2481:WorkflowImpl"/>
                    <xs:element minOccurs="0" name="workflowImplId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="workflowImplParameters" nillable="true" type="ax2484:Parameter"/>
                    <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Template">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parametersMetaData" nillable="true" type="ax2482:ParametersMetaData"/>
                    <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkflowImpl">
                <xs:sequence>
                    <xs:element minOccurs="0" name="parametersMetaData" nillable="true" type="ax2482:ParametersMetaData"/>
                    <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowImplId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowImplName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WorkflowEvent">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eventCategory" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventFriendlyName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="ax2484:Parameter"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Association">
                <xs:sequence>
                    <xs:element minOccurs="0" name="associationId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="associationName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="condition" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="enabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="eventCategory" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="workflowName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2480="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:ax2487="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd" xmlns:ax2486="http://dto.mgt.workflow.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.workflow.identity.carbon.wso2.org/xsd">
            <xs:import namespace="http://exception.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://bean.mgt.workflow.identity.carbon.wso2.org/xsd"/>
            <xs:element name="WorkflowAdminServiceWorkflowException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="WorkflowException" nillable="true" type="ax2480:WorkflowException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2481:WorkflowWizard"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowEvents">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowEventsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2481:WorkflowEvent"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listTemplates">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listTemplatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2481:Template"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowImpls">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowImplsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2481:WorkflowImpl"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addWorkflow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="workflow" nillable="true" type="ax2481:WorkflowWizard"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeAssociationState">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="associationId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="isEnable" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listPaginatedWorkflows">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="limit" type="xs:int"/>
                        <xs:element minOccurs="0" name="offset" type="xs:int"/>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listPaginatedWorkflowsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2481:WorkflowWizard"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflows">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listWorkflowsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2481:WorkflowWizard"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowsCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowsCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeWorkflow">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listPaginatedAssociations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="limit" type="xs:int"/>
                        <xs:element minOccurs="0" name="offset" type="xs:int"/>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listPaginatedAssociationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2481:Association"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAssociations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAssociationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2481:Association"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllAssociations">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllAssociationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2481:Association"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAssociationsCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAssociationsCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsCreatedByUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dateCategory" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsCreatedByUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2484:WorkflowRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsInFilter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="dateCategory" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRequestsInFilterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2484:WorkflowRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteWorkflowRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteWorkflowRequestCreatedByAnyUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowsOfRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowsOfRequestResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2484:WorkflowRequestAssociation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeAssociation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="associationId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addAssociation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="associationName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="workflowId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="condition" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTemplateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2481:Template"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowImpl">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="implementationId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getWorkflowImplResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2481:WorkflowImpl"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEvent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2481:WorkflowEvent"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteWorkflowRequestRequest">
        <wsdl:part name="parameters" element="ns:deleteWorkflowRequest"/>
    </wsdl:message>
    <wsdl:message name="deleteWorkflowRequestResponse"/>
    <wsdl:message name="WorkflowAdminServiceWorkflowException">
        <wsdl:part name="parameters" element="ns:WorkflowAdminServiceWorkflowException"/>
    </wsdl:message>
    <wsdl:message name="deleteWorkflowRequestCreatedByAnyUserRequest">
        <wsdl:part name="parameters" element="ns:deleteWorkflowRequestCreatedByAnyUser"/>
    </wsdl:message>
    <wsdl:message name="deleteWorkflowRequestCreatedByAnyUserResponse"/>
    <wsdl:message name="WorkflowAdminServiceWorkflowException">
        <wsdl:part name="parameters" element="ns:WorkflowAdminServiceWorkflowException"/>
    </wsdl:message>
    <wsdl:message name="listAssociationsRequest">
        <wsdl:part name="parameters" element="ns:listAssociations"/>
    </wsdl:message>
    <wsdl:message name="listAssociationsResponse">
        <wsdl:part name="parameters" element="ns:listAssociationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getRequestsCreatedByUserRequest">
        <wsdl:part name="parameters" element="ns:getRequestsCreatedByUser"/>
    </wsdl:message>
    <wsdl:message name="getRequestsCreatedByUserResponse">
        <wsdl:part name="parameters" element="ns:getRequestsCreatedByUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getRequestsInFilterRequest">
        <wsdl:part name="parameters" element="ns:getRequestsInFilter"/>
    </wsdl:message>
    <wsdl:message name="getRequestsInFilterResponse">
        <wsdl:part name="parameters" element="ns:getRequestsInFilterResponse"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowImplRequest">
        <wsdl:part name="parameters" element="ns:getWorkflowImpl"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowImplResponse">
        <wsdl:part name="parameters" element="ns:getWorkflowImplResponse"/>
    </wsdl:message>
    <wsdl:message name="listPaginatedAssociationsRequest">
        <wsdl:part name="parameters" element="ns:listPaginatedAssociations"/>
    </wsdl:message>
    <wsdl:message name="listPaginatedAssociationsResponse">
        <wsdl:part name="parameters" element="ns:listPaginatedAssociationsResponse"/>
    </wsdl:message>
    <wsdl:message name="listAllAssociationsRequest">
        <wsdl:part name="parameters" element="ns:listAllAssociations"/>
    </wsdl:message>
    <wsdl:message name="listAllAssociationsResponse">
        <wsdl:part name="parameters" element="ns:listAllAssociationsResponse"/>
    </wsdl:message>
    <wsdl:message name="getAssociationsCountRequest">
        <wsdl:part name="parameters" element="ns:getAssociationsCount"/>
    </wsdl:message>
    <wsdl:message name="getAssociationsCountResponse">
        <wsdl:part name="parameters" element="ns:getAssociationsCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowsOfRequestRequest">
        <wsdl:part name="parameters" element="ns:getWorkflowsOfRequest"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowsOfRequestResponse">
        <wsdl:part name="parameters" element="ns:getWorkflowsOfRequestResponse"/>
    </wsdl:message>
    <wsdl:message name="addAssociationRequest">
        <wsdl:part name="parameters" element="ns:addAssociation"/>
    </wsdl:message>
    <wsdl:message name="addAssociationResponse"/>
    <wsdl:message name="listTemplatesRequest">
        <wsdl:part name="parameters" element="ns:listTemplates"/>
    </wsdl:message>
    <wsdl:message name="listTemplatesResponse">
        <wsdl:part name="parameters" element="ns:listTemplatesResponse"/>
    </wsdl:message>
    <wsdl:message name="listPaginatedWorkflowsRequest">
        <wsdl:part name="parameters" element="ns:listPaginatedWorkflows"/>
    </wsdl:message>
    <wsdl:message name="listPaginatedWorkflowsResponse">
        <wsdl:part name="parameters" element="ns:listPaginatedWorkflowsResponse"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowsRequest">
        <wsdl:part name="parameters" element="ns:listWorkflows"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowsResponse">
        <wsdl:part name="parameters" element="ns:listWorkflowsResponse"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowsCountRequest">
        <wsdl:part name="parameters" element="ns:getWorkflowsCount"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowsCountResponse">
        <wsdl:part name="parameters" element="ns:getWorkflowsCountResponse"/>
    </wsdl:message>
    <wsdl:message name="addWorkflowRequest">
        <wsdl:part name="parameters" element="ns:addWorkflow"/>
    </wsdl:message>
    <wsdl:message name="addWorkflowResponse"/>
    <wsdl:message name="changeAssociationStateRequest">
        <wsdl:part name="parameters" element="ns:changeAssociationState"/>
    </wsdl:message>
    <wsdl:message name="changeAssociationStateResponse"/>
    <wsdl:message name="listWorkflowImplsRequest">
        <wsdl:part name="parameters" element="ns:listWorkflowImpls"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowImplsResponse">
        <wsdl:part name="parameters" element="ns:listWorkflowImplsResponse"/>
    </wsdl:message>
    <wsdl:message name="getTemplateRequest">
        <wsdl:part name="parameters" element="ns:getTemplate"/>
    </wsdl:message>
    <wsdl:message name="getTemplateResponse">
        <wsdl:part name="parameters" element="ns:getTemplateResponse"/>
    </wsdl:message>
    <wsdl:message name="getEventRequest">
        <wsdl:part name="parameters" element="ns:getEvent"/>
    </wsdl:message>
    <wsdl:message name="getEventResponse">
        <wsdl:part name="parameters" element="ns:getEventResponse"/>
    </wsdl:message>
    <wsdl:message name="removeAssociationRequest">
        <wsdl:part name="parameters" element="ns:removeAssociation"/>
    </wsdl:message>
    <wsdl:message name="removeAssociationResponse"/>
    <wsdl:message name="listWorkflowEventsRequest">
        <wsdl:part name="parameters" element="ns:listWorkflowEvents"/>
    </wsdl:message>
    <wsdl:message name="listWorkflowEventsResponse">
        <wsdl:part name="parameters" element="ns:listWorkflowEventsResponse"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowRequest">
        <wsdl:part name="parameters" element="ns:getWorkflow"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowResponse">
        <wsdl:part name="parameters" element="ns:getWorkflowResponse"/>
    </wsdl:message>
    <wsdl:message name="removeWorkflowRequest">
        <wsdl:part name="parameters" element="ns:removeWorkflow"/>
    </wsdl:message>
    <wsdl:message name="removeWorkflowResponse"/>
    <wsdl:portType name="WorkflowAdminServicePortType">
        <wsdl:operation name="deleteWorkflowRequest">
            <wsdl:input message="tns:deleteWorkflowRequestRequest" wsaw:Action="urn:deleteWorkflowRequest"/>
            <wsdl:output message="tns:deleteWorkflowRequestResponse" wsaw:Action="urn:deleteWorkflowRequestResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:deleteWorkflowRequestWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteWorkflowRequestCreatedByAnyUser">
            <wsdl:input message="tns:deleteWorkflowRequestCreatedByAnyUserRequest" wsaw:Action="urn:deleteWorkflowRequestCreatedByAnyUser"/>
            <wsdl:output message="tns:deleteWorkflowRequestCreatedByAnyUserResponse" wsaw:Action="urn:deleteWorkflowRequestCreatedByAnyUserResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:deleteWorkflowRequestCreatedByAnyUserWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listAssociations">
            <wsdl:input message="tns:listAssociationsRequest" wsaw:Action="urn:listAssociations"/>
            <wsdl:output message="tns:listAssociationsResponse" wsaw:Action="urn:listAssociationsResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:listAssociationsWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <wsdl:input message="tns:getRequestsCreatedByUserRequest" wsaw:Action="urn:getRequestsCreatedByUser"/>
            <wsdl:output message="tns:getRequestsCreatedByUserResponse" wsaw:Action="urn:getRequestsCreatedByUserResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getRequestsCreatedByUserWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <wsdl:input message="tns:getRequestsInFilterRequest" wsaw:Action="urn:getRequestsInFilter"/>
            <wsdl:output message="tns:getRequestsInFilterResponse" wsaw:Action="urn:getRequestsInFilterResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getRequestsInFilterWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowImpl">
            <wsdl:input message="tns:getWorkflowImplRequest" wsaw:Action="urn:getWorkflowImpl"/>
            <wsdl:output message="tns:getWorkflowImplResponse" wsaw:Action="urn:getWorkflowImplResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getWorkflowImplWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listPaginatedAssociations">
            <wsdl:input message="tns:listPaginatedAssociationsRequest" wsaw:Action="urn:listPaginatedAssociations"/>
            <wsdl:output message="tns:listPaginatedAssociationsResponse" wsaw:Action="urn:listPaginatedAssociationsResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:listPaginatedAssociationsWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <wsdl:input message="tns:listAllAssociationsRequest" wsaw:Action="urn:listAllAssociations"/>
            <wsdl:output message="tns:listAllAssociationsResponse" wsaw:Action="urn:listAllAssociationsResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:listAllAssociationsWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getAssociationsCount">
            <wsdl:input message="tns:getAssociationsCountRequest" wsaw:Action="urn:getAssociationsCount"/>
            <wsdl:output message="tns:getAssociationsCountResponse" wsaw:Action="urn:getAssociationsCountResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getAssociationsCountWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <wsdl:input message="tns:getWorkflowsOfRequestRequest" wsaw:Action="urn:getWorkflowsOfRequest"/>
            <wsdl:output message="tns:getWorkflowsOfRequestResponse" wsaw:Action="urn:getWorkflowsOfRequestResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getWorkflowsOfRequestWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <wsdl:input message="tns:addAssociationRequest" wsaw:Action="urn:addAssociation"/>
            <wsdl:output message="tns:addAssociationResponse" wsaw:Action="urn:addAssociationResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:addAssociationWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listTemplates">
            <wsdl:input message="tns:listTemplatesRequest" wsaw:Action="urn:listTemplates"/>
            <wsdl:output message="tns:listTemplatesResponse" wsaw:Action="urn:listTemplatesResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:listTemplatesWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listPaginatedWorkflows">
            <wsdl:input message="tns:listPaginatedWorkflowsRequest" wsaw:Action="urn:listPaginatedWorkflows"/>
            <wsdl:output message="tns:listPaginatedWorkflowsResponse" wsaw:Action="urn:listPaginatedWorkflowsResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:listPaginatedWorkflowsWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <wsdl:input message="tns:listWorkflowsRequest" wsaw:Action="urn:listWorkflows"/>
            <wsdl:output message="tns:listWorkflowsResponse" wsaw:Action="urn:listWorkflowsResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:listWorkflowsWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsCount">
            <wsdl:input message="tns:getWorkflowsCountRequest" wsaw:Action="urn:getWorkflowsCount"/>
            <wsdl:output message="tns:getWorkflowsCountResponse" wsaw:Action="urn:getWorkflowsCountResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getWorkflowsCountWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <wsdl:input message="tns:addWorkflowRequest" wsaw:Action="urn:addWorkflow"/>
            <wsdl:output message="tns:addWorkflowResponse" wsaw:Action="urn:addWorkflowResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:addWorkflowWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <wsdl:input message="tns:changeAssociationStateRequest" wsaw:Action="urn:changeAssociationState"/>
            <wsdl:output message="tns:changeAssociationStateResponse" wsaw:Action="urn:changeAssociationStateResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:changeAssociationStateWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowImpls">
            <wsdl:input message="tns:listWorkflowImplsRequest" wsaw:Action="urn:listWorkflowImpls"/>
            <wsdl:output message="tns:listWorkflowImplsResponse" wsaw:Action="urn:listWorkflowImplsResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:listWorkflowImplsWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <wsdl:input message="tns:getTemplateRequest" wsaw:Action="urn:getTemplate"/>
            <wsdl:output message="tns:getTemplateResponse" wsaw:Action="urn:getTemplateResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getTemplateWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <wsdl:input message="tns:getEventRequest" wsaw:Action="urn:getEvent"/>
            <wsdl:output message="tns:getEventResponse" wsaw:Action="urn:getEventResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <wsdl:input message="tns:removeAssociationRequest" wsaw:Action="urn:removeAssociation"/>
            <wsdl:output message="tns:removeAssociationResponse" wsaw:Action="urn:removeAssociationResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:removeAssociationWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <wsdl:input message="tns:listWorkflowEventsRequest" wsaw:Action="urn:listWorkflowEvents"/>
            <wsdl:output message="tns:listWorkflowEventsResponse" wsaw:Action="urn:listWorkflowEventsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflow">
            <wsdl:input message="tns:getWorkflowRequest" wsaw:Action="urn:getWorkflow"/>
            <wsdl:output message="tns:getWorkflowResponse" wsaw:Action="urn:getWorkflowResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:getWorkflowWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <wsdl:input message="tns:removeWorkflowRequest" wsaw:Action="urn:removeWorkflow"/>
            <wsdl:output message="tns:removeWorkflowResponse" wsaw:Action="urn:removeWorkflowResponse"/>
            <wsdl:fault message="tns:WorkflowAdminServiceWorkflowException" name="WorkflowAdminServiceWorkflowException" wsaw:Action="urn:removeWorkflowWorkflowAdminServiceWorkflowException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WorkflowAdminServiceSoap11Binding" type="tns:WorkflowAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteWorkflowRequest">
            <soap:operation soapAction="urn:deleteWorkflowRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteWorkflowRequestCreatedByAnyUser">
            <soap:operation soapAction="urn:deleteWorkflowRequestCreatedByAnyUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAssociations">
            <soap:operation soapAction="urn:listAssociations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <soap:operation soapAction="urn:getRequestsCreatedByUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <soap:operation soapAction="urn:getRequestsInFilter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowImpl">
            <soap:operation soapAction="urn:getWorkflowImpl" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listPaginatedAssociations">
            <soap:operation soapAction="urn:listPaginatedAssociations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <soap:operation soapAction="urn:listAllAssociations" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAssociationsCount">
            <soap:operation soapAction="urn:getAssociationsCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <soap:operation soapAction="urn:getWorkflowsOfRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <soap:operation soapAction="urn:addAssociation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listTemplates">
            <soap:operation soapAction="urn:listTemplates" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listPaginatedWorkflows">
            <soap:operation soapAction="urn:listPaginatedWorkflows" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <soap:operation soapAction="urn:listWorkflows" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsCount">
            <soap:operation soapAction="urn:getWorkflowsCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <soap:operation soapAction="urn:addWorkflow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <soap:operation soapAction="urn:changeAssociationState" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <soap:operation soapAction="urn:getTemplate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowImpls">
            <soap:operation soapAction="urn:listWorkflowImpls" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <soap:operation soapAction="urn:getEvent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <soap:operation soapAction="urn:removeAssociation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <soap:operation soapAction="urn:listWorkflowEvents" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorkflow">
            <soap:operation soapAction="urn:getWorkflow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <soap:operation soapAction="urn:removeWorkflow" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowAdminServiceSoap12Binding" type="tns:WorkflowAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deleteWorkflowRequest">
            <soap12:operation soapAction="urn:deleteWorkflowRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteWorkflowRequestCreatedByAnyUser">
            <soap12:operation soapAction="urn:deleteWorkflowRequestCreatedByAnyUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAssociations">
            <soap12:operation soapAction="urn:listAssociations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <soap12:operation soapAction="urn:getRequestsCreatedByUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <soap12:operation soapAction="urn:getRequestsInFilter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowImpl">
            <soap12:operation soapAction="urn:getWorkflowImpl" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listPaginatedAssociations">
            <soap12:operation soapAction="urn:listPaginatedAssociations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <soap12:operation soapAction="urn:listAllAssociations" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAssociationsCount">
            <soap12:operation soapAction="urn:getAssociationsCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <soap12:operation soapAction="urn:getWorkflowsOfRequest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <soap12:operation soapAction="urn:addAssociation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listTemplates">
            <soap12:operation soapAction="urn:listTemplates" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listPaginatedWorkflows">
            <soap12:operation soapAction="urn:listPaginatedWorkflows" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <soap12:operation soapAction="urn:listWorkflows" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsCount">
            <soap12:operation soapAction="urn:getWorkflowsCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <soap12:operation soapAction="urn:addWorkflow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <soap12:operation soapAction="urn:changeAssociationState" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <soap12:operation soapAction="urn:getTemplate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowImpls">
            <soap12:operation soapAction="urn:listWorkflowImpls" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <soap12:operation soapAction="urn:getEvent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <soap12:operation soapAction="urn:removeAssociation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <soap12:operation soapAction="urn:listWorkflowEvents" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorkflow">
            <soap12:operation soapAction="urn:getWorkflow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <soap12:operation soapAction="urn:removeWorkflow" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="WorkflowAdminServiceWorkflowException">
                <soap12:fault use="literal" name="WorkflowAdminServiceWorkflowException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkflowAdminServiceHttpBinding" type="tns:WorkflowAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="deleteWorkflowRequest">
            <http:operation location="deleteWorkflowRequest"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteWorkflowRequestCreatedByAnyUser">
            <http:operation location="deleteWorkflowRequestCreatedByAnyUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAssociations">
            <http:operation location="listAssociations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequestsCreatedByUser">
            <http:operation location="getRequestsCreatedByUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRequestsInFilter">
            <http:operation location="getRequestsInFilter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowImpl">
            <http:operation location="getWorkflowImpl"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listPaginatedAssociations">
            <http:operation location="listPaginatedAssociations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllAssociations">
            <http:operation location="listAllAssociations"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAssociationsCount">
            <http:operation location="getAssociationsCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsOfRequest">
            <http:operation location="getWorkflowsOfRequest"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addAssociation">
            <http:operation location="addAssociation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listTemplates">
            <http:operation location="listTemplates"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listPaginatedWorkflows">
            <http:operation location="listPaginatedWorkflows"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflows">
            <http:operation location="listWorkflows"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowsCount">
            <http:operation location="getWorkflowsCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addWorkflow">
            <http:operation location="addWorkflow"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeAssociationState">
            <http:operation location="changeAssociationState"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTemplate">
            <http:operation location="getTemplate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowImpls">
            <http:operation location="listWorkflowImpls"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEvent">
            <http:operation location="getEvent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeAssociation">
            <http:operation location="removeAssociation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listWorkflowEvents">
            <http:operation location="listWorkflowEvents"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorkflow">
            <http:operation location="getWorkflow"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeWorkflow">
            <http:operation location="removeWorkflow"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WorkflowAdminService">
        <wsdl:port name="WorkflowAdminServiceHttpsSoap11Endpoint" binding="tns:WorkflowAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowAdminServiceHttpsSoap12Endpoint" binding="tns:WorkflowAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WorkflowAdminServiceHttpsEndpoint" binding="tns:WorkflowAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/WorkflowAdminService.WorkflowAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>