service-stubs/identity/org.wso2.carbon.identity.provider.stub/src/main/resources/RelyingPartyAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://provider.identity.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax261="http://dto.provider.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://provider.identity.carbon.wso2.org">
    <wsdl:documentation>RelyingPartyAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax262="http://dto.provider.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://dto.provider.identity.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUserTrustedRelyingParty">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userrp" nillable="true" type="ax261:UserTrustedRPDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUserTrustedRelyingParties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllUserTrustedRelyingPartiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax261:UserTrustedRPDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserTrustedRP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userrp" nillable="true" type="ax261:UserTrustedRPDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.provider.identity.carbon.wso2.org/xsd">
            <xs:complexType name="UserTrustedRPDTO">
                <xs:all>
                    <xs:element minOccurs="0" name="certificateAlias" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createUserTrustedRPRequest">
        <wsdl:part name="parameters" element="ns1:createUserTrustedRP" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception" />
    </wsdl:message>
    <wsdl:message name="removeUserTrustedRelyingPartyRequest">
        <wsdl:part name="parameters" element="ns1:removeUserTrustedRelyingParty" />
    </wsdl:message>
    <wsdl:message name="getAllUserTrustedRelyingPartiesRequest">
        <wsdl:part name="parameters" element="ns1:getAllUserTrustedRelyingParties" />
    </wsdl:message>
    <wsdl:message name="getAllUserTrustedRelyingPartiesResponse">
        <wsdl:part name="parameters" element="ns1:getAllUserTrustedRelyingPartiesResponse" />
    </wsdl:message>
    <wsdl:portType name="RelyingPartyAdminServicePortType">
        <wsdl:operation name="createUserTrustedRP">
            <wsdl:input message="axis2:createUserTrustedRPRequest" wsaw:Action="urn:createUserTrustedRP" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:createUserTrustedRPException" />
        </wsdl:operation>
        <wsdl:operation name="removeUserTrustedRelyingParty">
            <wsdl:input message="axis2:removeUserTrustedRelyingPartyRequest" wsaw:Action="urn:removeUserTrustedRelyingParty" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:removeUserTrustedRelyingPartyException" />
        </wsdl:operation>
        <wsdl:operation name="getAllUserTrustedRelyingParties">
            <wsdl:input message="axis2:getAllUserTrustedRelyingPartiesRequest" wsaw:Action="urn:getAllUserTrustedRelyingParties" />
            <wsdl:output message="axis2:getAllUserTrustedRelyingPartiesResponse" wsaw:Action="urn:getAllUserTrustedRelyingPartiesResponse" />
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:getAllUserTrustedRelyingPartiesException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RelyingPartyAdminServiceSoap11Binding" type="axis2:RelyingPartyAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="createUserTrustedRP">
            <soap:operation soapAction="urn:createUserTrustedRP" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeUserTrustedRelyingParty">
            <soap:operation soapAction="urn:removeUserTrustedRelyingParty" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllUserTrustedRelyingParties">
            <soap:operation soapAction="urn:getAllUserTrustedRelyingParties" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RelyingPartyAdminServiceSoap12Binding" type="axis2:RelyingPartyAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="createUserTrustedRP">
            <soap12:operation soapAction="urn:createUserTrustedRP" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeUserTrustedRelyingParty">
            <soap12:operation soapAction="urn:removeUserTrustedRelyingParty" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllUserTrustedRelyingParties">
            <soap12:operation soapAction="urn:getAllUserTrustedRelyingParties" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RelyingPartyAdminServiceHttpBinding" type="axis2:RelyingPartyAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="createUserTrustedRP">
            <http:operation location="createUserTrustedRP" />
            <wsdl:input>
                <mime:content type="text/xml" part="createUserTrustedRP" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeUserTrustedRelyingParty">
            <http:operation location="removeUserTrustedRelyingParty" />
            <wsdl:input>
                <mime:content type="text/xml" part="removeUserTrustedRelyingParty" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllUserTrustedRelyingParties">
            <http:operation location="getAllUserTrustedRelyingParties" />
            <wsdl:input>
                <mime:content type="text/xml" part="getAllUserTrustedRelyingParties" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllUserTrustedRelyingParties" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RelyingPartyAdminService">
        <wsdl:port name="RelyingPartyAdminServiceHttpsSoap11Endpoint" binding="axis2:RelyingPartyAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/RelyingPartyAdminService.RelyingPartyAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="RelyingPartyAdminServiceHttpsSoap12Endpoint" binding="axis2:RelyingPartyAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/RelyingPartyAdminService.RelyingPartyAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="RelyingPartyAdminServiceHttpsEndpoint" binding="axis2:RelyingPartyAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/RelyingPartyAdminService.RelyingPartyAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>